<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat1" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="dat2" placeholder="Seleccionar fecha final" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}">
      <p-table
        [value]="reporteList"
        [scrollable]="true"
        scrollDirection="both"
        scrollHeight="500px"
        [autoLayout]="true"
        [responsive]="true"
        styleClass="{{globalConstants.cStyleTableGridLines}}"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
        [rowHover]="true">
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 150px" pSortableColumn="fechaEmision" class="custom-header">
              <p-sortIcon field="fechaEmision"></p-sortIcon>
              FECHA EMISIÓN
            </th>
            <th style="width: 80px" pSortableColumn="tipo" class="custom-header">
              <p-sortIcon field="tipo"></p-sortIcon>
              TIPO
            </th>
            <th style="width: 100px" pSortableColumn="serie" class="custom-header">
              <p-sortIcon field="serie"></p-sortIcon>
              SERIE
            </th>
            <th style="width: 110px" pSortableColumn="numero" class="custom-header">
              <p-sortIcon field="numero"></p-sortIcon>
              NÚMERO
            </th>
            <th style="width: 150px" pSortableColumn="clienteTipoDocumento" class="custom-header">
              <p-sortIcon field="clienteTipoDocumento"></p-sortIcon>
              DOC ENTIDAD
            </th>
            <th style="width: 150px" pSortableColumn="clienteNumerpDocumento" class="custom-header">
              <p-sortIcon field="clienteNumerpDocumento"></p-sortIcon>
              RUC
            </th>
            <th style="width: 300px" pSortableColumn="clienteDenominacion" class="custom-header">
              <p-sortIcon field="clienteDenominacion"></p-sortIcon>
              DENOMINACIÓN
            </th>
            <th style="width: 300px" pSortableColumn="detalle" class="custom-header">
              <p-sortIcon field="detalle"></p-sortIcon>
              DETALLE (LÍNEAS)
            </th>
            <th style="width: 150px" pSortableColumn="pesoBruto" class="custom-header">
              <p-sortIcon field="pesoBruto"></p-sortIcon>
              PESO BRUTO
            </th>
            <th style="width: 150px" pSortableColumn="pesoUnidadMedida" class="custom-header">
              <p-sortIcon field="pesoUnidadMedida"></p-sortIcon>
              PESO UNIDAD DE MEDIDA
            </th>
            <th style="width: 150px" pSortableColumn="fechaTraslado" class="custom-header">
              <p-sortIcon field="fechaTraslado"></p-sortIcon>
              FECHA DE TRASLADO
            </th>
            <th style="width: 150px" pSortableColumn="transportistaDocumentoTipo" class="custom-header">
              <p-sortIcon field="transportistaDocumentoTipo"></p-sortIcon>
              TRANSPORTISTA DOCUMENTO TIPO
            </th>
            <th style="width: 200px" pSortableColumn="transportistaDocumentoNumero" class="custom-header">
              <p-sortIcon field="transportistaDocumentoNumero"></p-sortIcon>
              TRANSPORTISTA DOCUMENTO NÚMERO
            </th>
            <th style="width: 350px" pSortableColumn="transportistaDenominacion" class="custom-header">
              <p-sortIcon field="transportistaDenominacion"></p-sortIcon>
              TRANSPORTISTA DENOMINACIÓN
            </th>
            <th style="width: 150px" pSortableColumn="transportistaPlacaNumero" class="custom-header">
              <p-sortIcon field="transportistaPlacaNumero"></p-sortIcon>
              PLACA
            </th>
            <th style="width: 150px" pSortableColumn="conductorDocumentoTipo" class="custom-header">
              <p-sortIcon field="conductorDocumentoTipo"></p-sortIcon>
              CONDUCTOE DOCUMENTO TIPO
            </th>
            <th style="width: 200px" pSortableColumn="conductorDocumentoNumero" class="custom-header">
              <p-sortIcon field="conductorDocumentoNumero"></p-sortIcon>
              CONDUCTOE DOCUMENTO NÚMERO
            </th>
            <th style="width: 300px" pSortableColumn="conductorNombre" class="custom-header">
              <p-sortIcon field="conductorNombre"></p-sortIcon>
              CONDUCTOR NOMBRE
            </th>
            <th style="width: 300px" pSortableColumn="conductorApellidos" class="custom-header">
              <p-sortIcon field="conductorApellidos"></p-sortIcon>
              CONDUCTOR APELLIDOS
            </th>
            <th style="width: 200px" pSortableColumn="conductorLicenciaNumero" class="custom-header">
              <p-sortIcon field="conductorLicenciaNumero"></p-sortIcon>
              CONDUCTOR LICENCIA
            </th>
            <th style="width: 150px" pSortableColumn="puntoPartidaUbigeo" class="custom-header">
              <p-sortIcon field="puntoPartidaUbigeo"></p-sortIcon>
              PARTIDA UBIGEO
            </th>
            <th style="width: 350px" pSortableColumn="puntoPartidaDireccion" class="custom-header">
              <p-sortIcon field="puntoPartidaDireccion"></p-sortIcon>
              PARTIDA DIRECCIÓN
            </th>
            <th style="width: 150px" pSortableColumn="puntoLlegadaUbigeo" class="custom-header">
              <p-sortIcon field="puntoLlegadaUbigeo"></p-sortIcon>
              LLEGADA UBIGEO
            </th>
            <th style="width: 350px" pSortableColumn="puntoLlegadaDireccion" class="custom-header">
              <p-sortIcon field="puntoLlegadaDireccion"></p-sortIcon>
              LLEGADA DIRECCIÓN
            </th>
            <th style="width: 350px" pSortableColumn="observaciones" class="custom-header">
              <p-sortIcon field="observaciones"></p-sortIcon>
              OBSERVACIONES
            </th>
            <th style="width: 150px" pSortableColumn="estadoSunat" class="custom-header">
              <p-sortIcon field="estadoSunat"></p-sortIcon>
              ESTADO SUNAT
            </th>
          </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo>
          <tr class="ui-selectable-row">
            <td style="width: 150px">
              <span class="p-column-title">FECHA EMISIÓN</span> {{modelo.fechaEmision | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 80px">
              <span class="p-column-title">TIPO</span> {{modelo.tipo}}
            </td>
            <td style="width: 100px">
              <span class="p-column-title">SERIE</span> {{modelo.serie}}
            </td>
            <td style="width: 110px">
              <span class="p-column-title">NÚMERO</span> {{modelo.numero}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">DOC ENTIDAD</span> {{modelo.clienteTipoDocumento}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">RUC</span> {{modelo.clienteNumeroDocumento}}
            </td>
            <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">DENOMINACIÓN</span> {{modelo.clienteDenominacion}}
            </td>
            <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">DETALLE (LÍNEAS)</span> {{modelo.detalle}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">PESO BRUTO</span> {{modelo.pesoBruto | number: '.3':'en-EN'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">PESO UNIDAD DE MEDIDA</span> {{modelo.pesoUnidadMedida}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">FECHA DE TRASLADO</span> {{modelo.fechaTraslado | date: 'dd/MM/yyyy'}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">TRANSPORTISTA DOCUMENTO TIPO</span> {{modelo.transportistaDocumentoTipo}}
            </td>
            <td style="width: 200px">
              <span class="p-column-title">TRANSPORTISTA DOCUMENTO NÚMERO</span> {{modelo.transportistaDocumentoNumero}}
            </td>
            <td style="width: 350px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">TRANSPORTISTA DENOMINACIÓN</span> {{modelo.transportistaDenominacion}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">PLACA</span> {{modelo.transportistaPlacaNumero}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">CONDUCTOE DOCUMENTO TIPO</span> {{modelo.conductorDocumentoTipo}}
            </td>
            <td style="width: 200px">
              <span class="p-column-title">CONDUCTOE DOCUMENTO NÚMERO</span> {{modelo.conductorDocumentoNumero}}
            </td>
            <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">CONDUCTOR NOMBRE</span> {{modelo.conductorNombre}}
            </td>
            <td style="width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">CONDUCTOR APELLIDOS</span> {{modelo.conductorApellidos}}
            </td>
            <td style="width: 200px">
              <span class="p-column-title">CONDUCTOR LICENCIA</span> {{modelo.conductorLicenciaNumero}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">PARTIDA UBIGEO</span> {{modelo.puntoPartidaUbigeo}}
            </td>
            <td style="width: 350px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">PARTIDA DIRECCIÓN</span> {{modelo.puntoPartidaDireccion}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">LLEGADA UBIGEO</span> {{modelo.puntoLlegadaUbigeo}}
            </td>
            <td style="width: 350px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">LLEGADA DIRECCIÓN</span> {{modelo.puntoLlegadaDireccion}}
            </td>
            <td style="width: 350px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">
              <span class="p-column-title">OBSERVACIONES</span> {{modelo.observaciones}}
            </td>
            <td style="width: 150px">
              <span class="p-column-title">ESTADO SUNAT</span> {{modelo.estadoSunat}}
            </td>
          </tr>
        </ng-template>
        <!-- emptymessage -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td style="width: 5460px" colspan="23">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
