<div class="card card-w-title">
  <p-panel header="Editar {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormSoc">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardCode">Código de cliente </label>
                <app-modal-socio-negocio class="readonly-control" [title]="'Clientes'" [cardCode]="cardCode" [cardType] = "'C'" [transType] = "'N,Y'" (eventoAceptar)="onSelectedCliente($event)" [isHabilitarButton]="true"></app-modal-socio-negocio>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardName">Razón social o nombre </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" class="readonly-control" readonly tabindex="-1" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="cardName" autocomplete="off" required pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-persona-contacto">Persona de contacto </label>
                <app-modal-persona-contacto [cardCode]="cardCode" [cntctCode]="cntctCode"></app-modal-persona-contacto>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-numAtCard">Número de referencia </label>
                <div class="p-inputgroup">
                  <input id="float-input-numAtCard" type="text" placeholder="Número de referencia de deudor" maxlength="100" size="50" formControlName="numAtCard" autocomplete="off" pInputText>
                </div>
              </div>
              <div [ngClass]="currency === ''? 'col-12 md:col-12': currency === '##'? 'col-12 md:col-12' : currency === mainCurncy? 'col-12 md:col-12' : 'col-12 md:col-6'">
                <label class="label-custom" for="float-input-docCur">Moneda </label>
                <p-dropdown id="float-input-docCur" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="currencyList" placeholder="Seleccione moneda" formControlName="docCur" [required] optionLabel="label" [showClear]="true" (onChange)="onChangeCurrency($event)"></p-dropdown>
                <div *ngIf="modeloFormSoc.controls['docCur'].errors && modeloFormSoc.controls['docCur'].dirty">
                  <p-message severity="error" text="Moneda es requerida." *ngIf="modeloFormSoc.controls['docCur'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-6" *ngIf="currency === ''? false : currency === '##'? false : currency === mainCurncy? false : true">
                <label class="label-custom" for="float-input-tipo-cambio">Tipo cambio </label>
                <div class="p-inputgroup">
                  <input id="float-input-docRate" class="field-numero" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" type="text" placeholder="Tipo de cambio" maxlength="21" size="50" formControlName="docRate" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormSoc, 'docRate', 3)" (blur)="blurDocRate()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormDoc">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docNum">Número</label>
                <div class="p-inputgroup">
                  <input id="float-input-docNum" type="text" class="readonly-control" readonly tabindex="-1" placeholder="Número" maxlength="50" size="50" formControlName="docNum" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docStatus">Estado </label>
                <input id="float-input-docStatus" type="text" class="readonly-control" readonly tabindex="-1" placeholder="Estado" maxlength="50" size="50" formControlName="docStatus" autocomplete="off" pInputText>
              </div>

              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDate">Fecha de contabilización </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDate" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" placeholder="Fecha de contabilización" formControlName="docDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['docDate'].errors && modeloFormDoc.controls['docDate'].dirty">
                  <p-message severity="error" text="La fecha de contabilización es requerido." *ngIf="modeloFormDoc.controls['docDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDueDate">Fecha de entrega </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDueDate" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" placeholder="Fecha de entrega" formControlName="docDueDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['docDueDate'].errors && modeloFormDoc.controls['docDueDate'].dirty">
                  <p-message severity="error" text="La fecha de entrega es requerido." *ngIf="modeloFormDoc.controls['docDueDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-taxDate">Fecha de documento </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-taxDate" class="field-mandatory" placeholder="Fecha de documento" formControlName="taxDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['taxDate'].errors && modeloFormDoc.controls['taxDate'].dirty">
                  <p-message severity="error" text="La fecha de documento es requerido." *ngIf="modeloFormDoc.controls['taxDate'].errors['required']"></p-message>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <div class="card no-margin">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Contenido&nbsp;</span>
              </ng-template>

              <form [formGroup]="modeloFormCon">
                <div class="p-formgrid grid">
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-docType">Clase de artículo/servicio </label>
                    <p-dropdown id="float-input-docType" class="readonly-control" [readonly]="true" [attr.tabindex]="-1" [options]="docTypesList" placeholder="Seleccione la clase de artículo/servicio" formControlName="docType" [required] optionLabel="label" (onChange)="onChangeDocType()"></p-dropdown>
                    <div *ngIf="modeloFormCon.controls['docType'].errors && modeloFormCon.controls['docType'].dirty">
                      <p-message severity="error" text="Clase de artículo/servicio es requerido." *ngIf="modeloFormCon.controls['docType'].errors['required']"></p-message>
                    </div>
                  </div>
                  <div class="col-12 md:col-10"></div>
                </div>
              </form>
              <p-table
                [value]="modeloLines"
                [columns]="columnas"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                selectionMode="single"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <!-- Header -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="custom-header"></th>
                    <th *ngFor="let col of columns" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                  <tr [ngClass]="{'row-cerrado': modelo?.lineStatus === 'C'}">
                    <td class="custom-td-2">
                      <p-splitButton [disabled]="modelo.lineStatus==='C'" icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onSelectedItem(modelo)" appendTo = "body">
                      </p-splitButton>
                    </td>
                    <td class="p-fluid" *ngIf="docTypeSelected?.value === 'I'">
                      <i *ngIf="onOpenArticulo()" class="pi pi-search" (click)="onClickOpenArticulo(ri)"></i>
                      {{modelo.itemCode}}
                    </td>
                    <td class="p-fluid" *ngIf="docTypeSelected?.value === 'I'">
                      {{modelo.dscription}}
                    </td>
                    <td class="p-fluid" pEditableColumn *ngIf="docTypeSelected?.value === 'S'">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="dscription" pInputText type="text"autocomplete="off" [(ngModel)]="modelo.dscription" maxlength="100" (ngModelChange)="onDescChange()">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.dscription}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" *ngIf="docTypeSelected?.value === 'S'">
                      <i *ngIf="docTypeSelected?.value === 'S' && modelo.dscription.trim().length > 0 ? true : false" class="pi pi-search" (click)="onOpenCuentaContable(ri)"></i>
                      {{modelo.formatCode}}
                    </td>
                    <td class="p-fluid" *ngIf="docTypeSelected?.value === 'S'">
                      {{modelo.acctName}}
                    </td>
                    <td class="p-fluid" *ngIf="docTypeSelected?.value === 'I'">
                      <i *ngIf="modelo.itemCode !== ''" class="pi pi-search" (click)="onClickOpenAlmacen(ri)"></i>
                      {{modelo.whsCode}}
                    </td>
                    <td class="custom-td-8" *ngIf="docTypeSelected?.value === 'I'">
                      {{modelo.unitMsr}}
                    </td>
                    <td class="custom-td-numero" *ngIf="docTypeSelected?.value === 'I'">
                      {{modelo.onHand | number: '.3':'en-EN'}}
                    </td>
                    <td class="custom-td-numero" pEditableColumn *ngIf="docTypeSelected?.value === 'I'">
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="quantity" type="text" [(ngModel)]="modelo.quantity" maxlength="23" (ngModelChange)="onChangeQuantity(modelo,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,modelo.quantity)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.quantity | number: '.3':'en-EN'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="custom-td-numero" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="priceBefDi" type="text" [(ngModel)]="modelo.priceBefDi" maxlength="23" (ngModelChange)="onChangePrice(modelo,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,modelo.priceBefDi)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.priceBefDi | number: '.3':'en-EN'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="custom-td-numero" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="discPrcnt" type="text" [(ngModel)]="modelo.discPrcnt" maxlength="23" (ngModelChange)="onChangePrice(modelo,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,modelo.discPrcnt)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.discPrcnt | number: '.2':'en-EN'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="custom-td-numero" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input id="price" type="text" [(ngModel)]="modelo.price" maxlength="23" (ngModelChange)="onChangePrice(modelo,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,modelo.price)">
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.price | number: '.3':'en-EN'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid">
                      <i *ngIf="docTypeSelected?.value === 'S' && modelo.dscription.trim().length > 0 ? true : (modelo.itemCode !== ''? true:false)" class="pi pi-search" (click)="onClickOpenImpuesto(ri)"></i>
                      {{modelo.taxCode}}
                    </td>
                    <td class="p-fluid">
                      <i *ngIf="docTypeSelected?.value === 'S' && modelo.dscription.trim().length > 0 ? true : (modelo.itemCode !== ''? true:false)" class="pi pi-search" (click)="onOpenTipoOperacion(ri)"></i>
                      {{modelo.u_tipoOpT12Nam}}
                    </td>
                    <td class="custom-td-numero">
                      {{modelo.lineTotal | number: '.2':'en-EN'}}
                    </td>
                    <td class="custom-td-numero">
                      {{modelo.vatSum | number: '.2':'en-EN'}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length + 1">{{globalConstants.currentTableEmptyMessage}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Logística&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormLog">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-shipAddress">Destino de entrega </label>
                    <p-dropdown id="float-input-shipAddress" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="shipAddressList" placeholder="Seleccione dirección" formControlName="shipAddress" [required] optionLabel="label" [showClear]="true" (onChange)="onChangeShipAddress($event)"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-9">
                    <label class="label-custom" for="float-input-address2">Dirección de entrega </label>
                    <div class="p-inputgroup">
                      <textarea id="float-input-address2" class="readonly-control" readonly tabindex="-1" placeholder="Dirección de entrega" maxlength="254" rows="2" formControlName="address2" autocomplete="off" pInputTextarea></textarea>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-payAddress">Destino de factura </label>
                    <p-dropdown id="float-input-payAddress" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="payAddressList" placeholder="Seleccione dirección" formControlName="payAddress" [required] optionLabel="label" [showClear]="true" (onChange)="onChangePayAddress($event)"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-9">
                    <label class="label-custom" for="float-input-address">Dirección de factura </label>
                    <div class="p-inputgroup">
                      <textarea id="float-input-address" class="readonly-control" readonly tabindex="-1" placeholder="Dirección de factura" maxlength="254" rows="2" formControlName="address" pInputTextarea pInputTextarea></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Finanzas&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormFin">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12">
                    <label class="label-custom" for="float-input-groupNum">Condiciones de pago </label>
                    <p-dropdown id="float-input-paymentsTermsTypes" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="paymentsTermsTypesList" [filter]="true" placeholder="Seleccione condición de pago" formControlName="paymentsTermsTypes" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="modeloFormFin.controls['paymentsTermsTypes'].errors && modeloFormFin.controls['paymentsTermsTypes'].dirty">
                      <p-message severity="error" text="Condición de pago es requerida." *ngIf="modeloFormFin.controls['paymentsTermsTypes'].errors['required']"></p-message>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Agencia&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormAge">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12">
                    <div class="p-fluid p-formgrid grid">
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-cod-u_BPP_MDCT">Código </label>
                        <app-modal-socio-negocio [title]="'Trasportistas'" [cardCode]="u_BPP_MDCT" [cardType] = "'C,S'" [transType] = "'Y'" (eventoAceptar)="onSelectedAgencia($event)"></app-modal-socio-negocio>
                      </div>
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-u_BPP_MDRT">RUC </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_BPP_MDRT" type="text" placeholder="RUC" maxlength="32" size="50" formControlName="u_BPP_MDRT" autocomplete="off" pInputText>
                        </div>
                      </div>
                      <div class="col-12 md:col-6">
                        <label class="label-custom" for="float-input-u_BPP_MDNT">Razón social o nombre </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_BPP_MDNT" type="text" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="u_BPP_MDNT" autocomplete="off" pInputText>
                        </div>
                      </div>
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-agencyAddress">Destino agencia</label>
                        <p-dropdown id="float-input-agencyAddress" [options]="agencyAddressList" placeholder="Seleccione dirección" formControlName="agencyAddress" [required] optionLabel="label" [showClear]="true" (onChange)="onChangeAgencyAddress($event)"></p-dropdown>
                      </div>
                      <div class="col-12 md:col-9">
                        <label class="label-custom" for="float-input-u_BPP_MDDT">Dirección de egencia</label>
                        <div class="p-inputgroup">
                          <textarea id="float-input-u_BPP_MDDT" placeholder="Dirección de egencia" maxlength="254" rows="2" formControlName="u_BPP_MDDT" pInputText></textarea>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Exportación&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormExp">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-freightType">Tipo flete </label>
                    <p-dropdown id="float-input-freightType" [options]="freightTypeList" placeholder="Seleccione tipo de flete" formControlName="freightType" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-u_ValorFlete">Valor flete </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_ValorFlete" class="field-numero" type="text" placeholder="Valor de flete" maxlength="20" size="50" formControlName="u_ValorFlete" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormExp, 'u_ValorFlete', 0)" (blur)="blurValorFlete()">
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-u_FIB_TFLETE">Total flete </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_TFLETE" class="field-numero" type="text" placeholder="Total de flete" maxlength="20" size="50" formControlName="u_FIB_TFLETE" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormExp, 'u_FIB_TFLETE', 2)" (blur)="blurTotalFlete()">
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-importe-seguro">Importe seguro </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_IMPSEG" class="field-numero" type="text" placeholder="Importe de seguro" maxlength="20" size="50" formControlName="u_FIB_IMPSEG" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormExp, 'u_FIB_IMPSEG', 2)" (blur)="blurImporteSeguro()">
                    </div>
                  </div>
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-u_FIB_PUERTO">Puerto </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_PUERTO" type="text" placeholder="Puerto" maxlength="25" size="50" formControlName="u_FIB_PUERTO" autocomplete="off" pInputText>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Otros&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormOtr">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-salesType">Tipo de venta </label>
                    <p-dropdown id="float-input-salesType" class="field-mandatory" [options]="salesTypeList" placeholder="Seleccione tipo de venta" formControlName="salesType" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                  </div>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>

      <div class="col-12 md:col-8">
        <div class="card no-margin">
          <form [formGroup]="modeloFormSal">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-empleado-venta">Empleado de ventas </label>
                <p-dropdown id="float-input-salesEmployees" class="field-mandatory" [options]="salesEmployeesList" [filter]="true" placeholder="Seleccione empleado de ventas" formControlName="salesEmployees" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                <div *ngIf="modeloFormSal.controls['salesEmployees'].errors && modeloFormSal.controls['salesEmployees'].dirty">
                  <p-message severity="error" text="Empleado de ventas es requerido." *ngIf="modeloFormSal.controls['salesEmployees'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-u_OrdenCompra">N° de OC </label>
                <div class="p-inputgroup">
                  <input id="float-input-u_OrdenCompra" type="text" placeholder="Número de orden de compra" maxlength="15" size="50" formControlName="u_OrdenCompra" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-comments">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea id="float-input-comments" placeholder="Comentarios" maxlength="254" rows="2" formControlName="comments" autocomplete="off" pInputTextarea></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-4">
        <div class="card no-margin">
          <form [formGroup]="modeloFormTot">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-subTotal">SubTotal </label>
                <div class="p-inputgroup">
                  <input id="float-input-subTotal" class="field-numero readonly-control label-bold" readonly tabindex="-1" type="text" placeholder="SubTotal" maxlength="20" size="50" formControlName="subTotal" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormTot, 'subTotal', 2)" (blur)="blurSubTotal()">
                </div>
              </div>
              <div class="col-12 md:col-5">
                <label class="label-custom" for="float-input-discPrcnt">% Dto. </label>
                <div class="p-inputgroup">
                  <input id="float-input-discPrcnt" class="field-numero label-bold" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" type="text" placeholder="% Descuento" maxlength="20" size="50" formControlName="discPrcnt" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormTot, 'discPrcnt', 2)" (blur)="blurDiscPrcnt()">
                </div>
              </div>
              <div class="col-12 md:col-7">
                <label class="label-custom" for="float-input-discSum">Descuento </label>
                <div class="p-inputgroup">
                  <input id="float-input-discSum" class="field-numero label-bold" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" type="text" type="text" placeholder="Descuento" maxlength="20" size="50" formControlName="discSum" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormTot, 'discSum', 2)" (blur)="blurDiscSum()">
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-vatSum">Impuesto </label>
                <div class="p-inputgroup">
                  <input id="float-input-vatSum" class="field-numero readonly-control label-bold" readonly tabindex="-1" type="text" placeholder="Impuesto" maxlength="20" size="50" formControlName="vatSum" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormTot, 'vatSum', 2)" (blur)="blurVatSum()">
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docTotal">Total </label>
                <div class="p-inputgroup">
                  <input id="float-input-docTotal" class="field-numero readonly-control label-bold" readonly tabindex="-1" type="text" placeholder="Total" maxlength="20" size="50" formControlName="docTotal" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloFormTot, 'docTotal', 2)" (blur)="blurDocTotal()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="!hasRealChanges || !modeloFormSoc.valid || !modeloFormDoc.valid || !modeloFormFin.valid || !modeloFormOtr.valid || !modeloFormSal.valid || !hasValidLines" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonDanger}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog *ngIf="isVisualizarArticulo" header="Artículo" [(visible)]="isVisualizarArticulo" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true">
  <app-busqueda-articulo [sellItem]="'Y'" (eventoAceptar)="onClickSelectedArticulo($event)"></app-busqueda-articulo>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseArticulo()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarCuentaContable" header="Cuentas" [(visible)]="isVisualizarCuentaContable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-cuenta-contable (eventoAceptar)="onSelectedCuentaContable($event)"></app-busqueda-cuenta-contable>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseCuentaContable()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarAlmacen" header="Almacén" [(visible)]="isVisualizarAlmacen" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-almacen-by-articulo [itemCode]="itemCode" [inactive]="inactiveAlmacenItem" (eventoAceptar)="onToAlmacenSelected($event)"></app-busqueda-almacen-by-articulo>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseAlmacen()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarImpuesto" header="Impuesto" [(visible)]="isVisualizarImpuesto" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-impuesto  (eventoAceptar)="onClickSelectedImpuesto($event)"></app-busqueda-impuesto>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseImpuesto()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarTipoOperacion" header="Tipo de operación" [(visible)]="isVisualizarTipoOperacion" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-tipo-operacion [title]="'Tipo de Operación'" [placeholder]="'Tipo de operación'" [nomTabla]="'OWTR'" [nomCampo]="'U_tipoOpT12'" (eventoAceptar)="onSelectedTipoOperacion($event)"></app-busqueda-tipo-operacion>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseTipoOperacion()"></p-button>
  </ng-template>
</p-dialog>


<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
<app-panel-guardar [isDisplay]="isSaving"></app-panel-guardar>
