<div class="card card-w-title">
  <p-contextMenu
    #cm
    [model]="contextMenuItems">
  </p-contextMenu>
  <p-panel header="Editar {{titulo}}" (contextmenu)="onPanelContextMenu($event, cm)">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormSoc">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardCode">Código de cliente </label>
                <app-modal-socio-negocio [class.readonly-control]="true" [attr.tabindex]="-1" [isHabilitarButton]="true" [title]="'Clientes'" [cardCode]="cardCode" [cardType] = "'C'" [transType] = "'N,Y'"></app-modal-socio-negocio>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardName">Razón social o nombre </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="cardName" autocomplete="off" required pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-persona-contacto">Persona de contacto </label>
                <app-modal-persona-contacto [cardCode]="cardCode" [cntctCode]="cntctCode"></app-modal-persona-contacto>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-numAtCard">Número de referencia </label>
                <div class="p-inputgroup">
                  <input id="float-input-numAtCard" type="text" placeholder="Número de referencia de deudor" maxlength="100" size="50" formControlName="numAtCard" autocomplete="off" pInputText>
                </div>
              </div>
              <div [ngClass]="currencyColClass">
                <label class="label-custom" for="float-input-currencies">Moneda </label>
                <p-dropdown id="float-input-currencies" [class.field-mandatory]="!(isLocked || isAuthorized)" [class.readonly-control]="isLocked || isAuthorized" [readonly]="isLocked || isAuthorized" [attr.tabindex]="(isLocked || isAuthorized) ? -1 : 0" [options]="currencyList" placeholder="Seleccione moneda" formControlName="currencies" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                <div *ngIf="modeloFormSoc.controls['currencies'].errors && modeloFormSoc.controls['currencies'].dirty">
                  <p-message severity="error" text="Moneda es requerida." *ngIf="modeloFormSoc.controls['currencies'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-6" *ngIf="!isMainCurrency">
                <label class="label-custom" for="float-input-tipo-cambio">Tipo cambio </label>
                <div class="p-inputgroup">
                  <input id="float-input-docRate" class="field-numero" [class.field-mandatory]="!(isLocked || isAuthorized)" [class.readonly-control]="isLocked || isAuthorized" [readonly]="isLocked || isAuthorized" [attr.tabindex]="(isLocked || isAuthorized) ? -1 : 0" type="text" placeholder="Tipo de cambio" maxlength="21" size="50" formControlName="docRate" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormSoc, 'docRate', 3, false)" (blur)="utilService.formatNumericFormControl(modeloFormSoc, 'docRate', 3, true)">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormDoc">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docNum">Número</label>
                <div class="p-inputgroup">
                  <input id="float-input-docNum" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Número" maxlength="50" size="50" formControlName="docNum" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docStatus">Estado </label>
                <input id="float-input-docStatus" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Estado" maxlength="50" size="50" formControlName="docStatus" autocomplete="off" pInputText>
              </div>

              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDate">Fecha de contabilización </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDate" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" placeholder="Fecha de contabilización" formControlName="docDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['docDate'].errors && modeloFormDoc.controls['docDate'].dirty">
                  <p-message severity="error" text="La fecha de contabilización es requerido." *ngIf="modeloFormDoc.controls['docDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDueDate">Fecha de entrega </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDueDate" [class.field-mandatory]="!isLocked" [class.readonly-control]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" placeholder="Fecha de entrega" formControlName="docDueDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['docDueDate'].errors && modeloFormDoc.controls['docDueDate'].dirty">
                  <p-message severity="error" text="La fecha de entrega es requerido." *ngIf="modeloFormDoc.controls['docDueDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-taxDate">Fecha de documento </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-taxDate" class="field-mandatory" placeholder="Fecha de documento" formControlName="taxDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['taxDate'].errors && modeloFormDoc.controls['taxDate'].dirty">
                  <p-message severity="error" text="La fecha de documento es requerido." *ngIf="modeloFormDoc.controls['taxDate'].errors['required']"></p-message>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <div class="card no-margin">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Contenido&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormCon">
                <div class="p-formgrid grid">
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-docTypes">Clase de artículo/servicio </label>
                    <p-dropdown id="float-input-docTypes" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="docTypesList" placeholder="Seleccione la clase de artículo/servicio" formControlName="docTypes" [required] optionLabel="label"></p-dropdown>
                    <div *ngIf="modeloFormCon.controls['docTypes'].errors && modeloFormCon.controls['docTypes'].dirty">
                      <p-message severity="error" text="Clase de artículo/servicio es requerido." *ngIf="modeloFormCon.controls['docTypes'].errors['required']"></p-message>
                    </div>
                  </div>
                  <div class="col-12 md:col-10"></div>
                </div>
              </form>
              <p-table
                [value]="modeloLines"
                [columns]="columnas"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                selectionMode="single"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <!-- Header -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="custom-header"></th>
                    <th *ngFor="let col of columns" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                  <tr [ngClass]="{'row-cerrado': modelo?.lineStatus==='C'}">
                    <td class="custom-td-8">
                      <p-splitButton
                        [disabled]="modelo?.isClosed"
                        icon="pi pi-cog"
                        [model]="splitButtonItems"
                        (onDropdownClick)="onSelectedItem(modelo)"
                        appendTo="body">
                      </p-splitButton>
                    </td>

                    <td class="p-fluid" *ngIf="isItem" [pEditableColumn]="isItem && modelo.isOpen">
                      <ng-container *ngIf="isItem && modelo.isOpen; else viewItemCode">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <i
                                class="pi pi-search search-icon"
                                (click)="onClickOpenArticulo(ri)">
                              </i>

                              <input
                                [id]="'itemCode-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="50"
                                [(ngModel)]="modelo.itemCode"
                                (ngModelChange)="onItemCodeChange(modelo)"
                                (paste)="onPasteItemCodes($event, ri)"
                                (blur)="onBlurItemCode(modelo, ri)"
                                (keydown.enter)="onEnterItemCode($event, modelo, ri)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{ modelo.itemCode }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <ng-template #viewItemCode>
                        {{ modelo.itemCode }}
                      </ng-template>
                    </td>

                    <td class="p-fluid" *ngIf="isItem || isService" [pEditableColumn]="isService && modelo.isOpen">
                      <!-- EDITABLE SOLO SI ES SERVICIO Y ESTÁ ABIERTO -->
                      <ng-container *ngIf="isService && modelo.isOpen; else viewDesc">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input
                              [id]="'dscription-' + ri"
                              pInputText
                              type="text"
                              autocomplete="off"
                              maxlength="100"
                              [(ngModel)]="modelo.dscription"
                              (ngModelChange)="onChangeDescriptions(modelo)"
                              (paste)="onPasteDescriptions($event, ri)">
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{ modelo.dscription }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- SOLO LECTURA -->
                      <ng-template #viewDesc>
                        {{ modelo.dscription }}
                      </ng-template>
                    </td>

                    <td class="p-fluid" *ngIf="isService" [pEditableColumn]="isService && modelo.isOpen">
                      <!-- EDITABLE SOLO SI ES SERVICIO Y ESTÁ ABIERTO -->
                      <ng-container *ngIf="isService && modelo.isOpen; else viewDesc">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                            <i
                              class="pi pi-search search-icon"
                              (click)="onClickOpenCuentaContable(ri)">
                            </i>

                            <input
                              [id]="'formatCode-' + ri"
                              pInputText
                              type="text"
                              autocomplete="off"
                              maxlength="100"
                              [(ngModel)]="modelo.formatCode"
                              (ngModelChange)="onFormatCodeChange(modelo)"
                              (paste)="onPasteFormatCodes($event, ri)"
                              (blur)="onBlurFormatCode(modelo, ri)"
                              (keydown.enter)="onEnterFormatCode($event, modelo, ri)">
                          </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{ modelo.formatCode }}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- SOLO LECTURA -->
                      <ng-template #viewDesc>
                        {{ modelo.formatCode }}
                      </ng-template>
                    </td>

                    <td class="p-fluid" *ngIf="isService">
                      {{modelo.acctName}}
                    </td>

                    <td class="custom-td-10" *ngIf="isItem" [pEditableColumn]="isItem && modelo.isOpen">
                      <!-- MODO EDICIÓN -->
                      <ng-container *ngIf="isItem && modelo.isOpen; else viewWhs">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <i
                                class="pi pi-search search-icon"
                                (click)="onClickOpenAlmacen(ri)">
                              </i>

                              <input
                                [id]="'whsCode-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="8"
                                [(ngModel)]="modelo.whsCode"
                                (ngModelChange)="onWhsCodeChange(modelo)"
                                (paste)="onPasteWhsCodes($event, ri)"
                                (blur)="onBlurWhsCode(modelo, ri)"
                                (keydown.enter)="onEnterWhsCode($event, modelo, ri)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{modelo.whsCode}}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- MODO SOLO LECTURA -->
                      <ng-template #viewWhs>
                        {{modelo.whsCode}}
                      </ng-template>
                    </td>

                    <td class="custom-td-8" *ngIf="isItem">
                      {{modelo.unitMsr}}
                    </td>
                    <td class="custom-td-numero" *ngIf="isItem">
                      {{modelo.onHand | number: '.3':'en-EN'}}
                    </td>

                    <td class="custom-td-numero" *ngIf="isItem" [pEditableColumn]="isItem && modelo.isOpen">
                      <!-- MODO EDICIÓN -->
                      <ng-container *ngIf="isItem && modelo.isOpen; else viewQty">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <input
                                [id]="'quantity-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="23"
                                [(ngModel)]="modelo.quantity"
                                (ngModelChange)="onChangeQuantity(modelo,ri)"
                                (paste)="onPasteQuantities($event, ri)"
                                (blur)="onBlurQuantity(modelo, ri)"
                                (keydown.enter)="onEnterQuantity($event, modelo, ri)"
                                (keypress)="utilService.aceptaSoloNumeros($event, modelo.quantity)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{modelo.quantity | number: '.3':'en-EN'}}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- MODO SOLO LECTURA -->
                      <ng-template #viewQty>
                        {{modelo.quantity | number: '.3':'en-EN'}}
                      </ng-template>
                    </td>

                    <td class="custom-td-numero" [pEditableColumn]="modelo.isOpen">
                      <!-- MODO EDICIÓN -->
                      <ng-container *ngIf="modelo.isOpen; else viewPriceBefDi">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <input
                                [id]="'priceBefDi-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="23"
                                [(ngModel)]="modelo.priceBefDi"
                                (keydown.enter)="onEnterPrice($event, modelo, ri)"
                                (paste)="onPastePrices($event, ri)"
                                (blur)="onBlurPrice(modelo, ri)"
                                (keypress)="utilService.aceptaSoloNumeros($event, modelo.priceBefDi)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{modelo.priceBefDi | number: '.3':'en-EN'}}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- MODO SOLO LECTURA -->
                      <ng-template #viewPriceBefDi>
                        {{modelo.priceBefDi | number: '.3':'en-EN'}}
                      </ng-template>
                    </td>

                    <td class="custom-td-10" [pEditableColumn]="modelo.isOpen">
                      <!-- MODO EDICIÓN -->
                      <ng-container *ngIf="modelo.isOpen; else viewTax">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <i
                                class="pi pi-search search-icon"
                                (click)="onClickOpenImpuesto(ri)">
                              </i>

                              <input
                                [id]="'taxCode-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="8"
                                [(ngModel)]="modelo.taxCode"
                                (ngModelChange)="onTaxCodeChange(modelo)"
                                (paste)="onPasteTaxCodes($event, ri)"
                                (blur)="onBlurTaxCode(modelo, ri)"
                                (keydown.enter)="onEnterTaxCode($event, modelo, ri)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{modelo.taxCode}}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- MODO SOLO LECTURA -->
                      <ng-template #viewTax>
                        {{modelo.taxCode}}
                      </ng-template>
                    </td>

                    <td class="custom-td-15" [pEditableColumn]="modelo.isOpen">
                      <!-- MODO EDICIÓN -->
                      <ng-container *ngIf="modelo.isOpen; else viewOperationsTypes">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <div class="input-search">
                              <i
                                class="pi pi-search search-icon"
                                (click)="onClickOpenTipoOperacion(ri)">
                              </i>

                              <input
                                [id]="'u_tipoOpT12Nam-' + ri"
                                pInputText
                                type="text"
                                autocomplete="off"
                                maxlength="100"
                                [(ngModel)]="modelo.u_tipoOpT12Nam"
                                (ngModelChange)="onOperationTypeChange(modelo)"
                                (paste)="onPasteOperationTypes($event, ri)"
                                (blur)="onBlurOperationType(modelo, ri)"
                                (keydown.enter)="onEnterOperationType($event, modelo, ri)">
                            </div>
                          </ng-template>

                          <ng-template pTemplate="output">
                            {{modelo.u_tipoOpT12Nam}}
                          </ng-template>
                        </p-cellEditor>
                      </ng-container>

                      <!-- MODO SOLO LECTURA -->
                      <ng-template #viewOperationsTypes>
                        {{modelo.u_tipoOpT12Nam}}
                      </ng-template>
                    </td>

                    <td class="custom-td-numero">
                      {{modelo.lineTotal | number: '.2':'en-EN'}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length + 1">{{globalConstants.currentTableEmptyMessage}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Logística&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormLog">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-shipAddress">Destino de entrega </label>
                    <p-dropdown id="float-input-shipAddress" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="shipAddressList" placeholder="Seleccione dirección" formControlName="shipAddress" optionLabel="label" [showClear]="true"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-9">
                    <label class="label-custom" for="float-input-address2">Dirección de entrega </label>
                    <div class="p-inputgroup">
                      <textarea id="float-input-address2" class="readonly-control" readonly tabindex="-1" placeholder="Dirección de entrega" maxlength="254" rows="4" formControlName="address2" autocomplete="off" pInputTextarea></textarea>
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-payAddress">Destino de factura </label>
                    <p-dropdown id="float-input-payAddress" [class.readonly-control]="isLocked" [readonly]="isLocked" [attr.tabindex]="isLocked ? -1 : 0" [options]="payAddressList" placeholder="Seleccione dirección" formControlName="payAddress" optionLabel="label" [showClear]="true"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-9">
                    <label class="label-custom" for="float-input-address">Dirección de factura </label>
                    <div class="p-inputgroup">
                      <textarea id="float-input-address" class="readonly-control" readonly tabindex="-1" placeholder="Dirección de factura" maxlength="254" rows="4" formControlName="address" autocomplete="off" pInputTextarea></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Finanzas&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormFin">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-groupNum">Condiciones de pago </label>
                    <p-dropdown id="float-input-paymentsTermsTypes" [class.field-mandatory]="!(isLocked || isAuthorized)" [class.readonly-control]="isLocked || isAuthorized" [readonly]="isLocked || isAuthorized" [attr.tabindex]="(isLocked || isAuthorized) ? -1 : 0" [options]="paymentsTermsTypesList" [filter]="true" placeholder="Seleccione condición de pago" formControlName="paymentsTermsTypes" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="modeloFormFin.controls['paymentsTermsTypes'].errors && modeloFormFin.controls['paymentsTermsTypes'].dirty">
                      <p-message severity="error" text="Condición de pago es requerida." *ngIf="modeloFormFin.controls['paymentsTermsTypes'].errors['required']"></p-message>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Agencia&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormAge">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12">
                    <div class="p-fluid p-formgrid grid">
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-cod-u_BPP_MDCT">Código </label>
                        <app-modal-socio-negocio [title]="'Trasportistas'" [cardCode]="u_BPP_MDCT" [cardType] = "'C,S'" [transType] = "'Y'" (eventoAceptar)="onSelectedAgencia($event)"></app-modal-socio-negocio>
                      </div>
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-u_BPP_MDRT">RUC </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_BPP_MDRT" type="text" placeholder="RUC" maxlength="32" size="50" formControlName="u_BPP_MDRT" autocomplete="off" pInputText readonly>
                        </div>
                      </div>
                      <div class="col-12 md:col-6">
                        <label class="label-custom" for="float-input-u_BPP_MDNT">Razón social o nombre </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_BPP_MDNT" type="text" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="u_BPP_MDNT" autocomplete="off" pInputText readonly>
                        </div>
                      </div>
                      <div class="col-12 md:col-3">
                        <label class="label-custom" for="float-input-agencyAddress">Destino agencia</label>
                        <p-dropdown id="float-input-agencyAddress" [options]="agencyAddressList" placeholder="Seleccione dirección" formControlName="agencyAddress" optionLabel="label" [showClear]="true"></p-dropdown>
                      </div>
                      <div class="col-12 md:col-9">
                        <label class="label-custom" for="float-input-u_BPP_MDDT">Dirección de agencia</label>
                        <div class="p-inputgroup">
                          <textarea id="float-input-u_BPP_MDDT" class="readonly-control" readonly tabindex="-1" placeholder="Dirección de agencia" maxlength="254" rows="4" formControlName="u_BPP_MDDT" pInputTextarea></textarea>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Exportación&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormExp">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-freightType">Tipo flete </label>
                    <p-dropdown id="float-input-freightType" [options]="freightTypeList" placeholder="Seleccione tipo de flete" formControlName="freightType" optionLabel="label" [showClear]="true"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-u_ValorFlete">Valor flete </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_ValorFlete" class="field-numero" type="text" placeholder="Valor de flete" maxlength="20" size="50" formControlName="u_ValorFlete" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormExp, 'u_ValorFlete', 0, false)" (blur)="utilService.formatNumericFormControl(modeloFormExp, 'u_ValorFlete', 0, true)">
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-u_FIB_TFLETE">Total flete </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_TFLETE" class="field-numero" type="text" placeholder="Total de flete" maxlength="20" size="50" formControlName="u_FIB_TFLETE" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormExp, 'u_FIB_TFLETE', 2, false)" (blur)="utilService.formatNumericFormControl(modeloFormExp, 'u_FIB_TFLETE', 2, true)">
                    </div>
                  </div>
                  <div class="col-12 md:col-3">
                    <label class="label-custom" for="float-input-importe-seguro">Importe seguro </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_IMPSEG" class="field-numero" type="text" placeholder="Importe de seguro" maxlength="20" size="50" formControlName="u_FIB_IMPSEG" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormExp, 'u_FIB_IMPSEG', 2, false)" (blur)="utilService.formatNumericFormControl(modeloFormExp, 'u_FIB_IMPSEG', 2, true)">
                    </div>
                  </div>
                  <div class="col-12 md:col-12">
                    <label class="label-custom" for="float-input-u_FIB_PUERTO">Puerto </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_PUERTO" type="text" placeholder="Puerto" maxlength="25" size="50" formControlName="u_FIB_PUERTO" autocomplete="off" pInputText>
                    </div>
                  </div>

                  <div class="col-12">
                    <p-fieldset legend="Embarcado a">
                      <div class="col-12 md:col-12">
                        <label class="label-custom" for="float-input-u_FIB_NEMBA">Nombre </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_FIB_NEMBA" type="text" placeholder="Nombre" maxlength="100" size="50" formControlName="u_FIB_NEMBA" autocomplete="off" pInputText>
                        </div>
                      </div>
                      <div class="col-12 md:col-12">
                        <label class="label-custom" for="float-input-u_FIB_DEMBA">Dirección </label>
                        <div class="p-inputgroup">
                          <input id="float-input-u_FIB_DEMBA" type="text" placeholder="Dirección" maxlength="100" size="50" formControlName="u_FIB_DEMBA" autocomplete="off" pInputText>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Anexos&nbsp;</span>
              </ng-template>

              <p-table
                [value]="modeloLinesAttachments"
                [columns]="columnasAttachments"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                selectionMode="single"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <!-- Header -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="custom-header"></th>
                    <th *ngFor="let col of columns" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
                  <tr>
                    <td class="custom-td-8">
                      <p-splitButton icon="pi pi-cog" [model] = "splitButtonAttachmentItems" (onDropdownClick) = "onSelectedItemAttachments(modelo)" appendTo = "body">
                      </p-splitButton>
                    </td>
                    <td class="p-fluid">
                      <div class="custom-td-flex">
                        <button
                          pButton
                          type="button"
                          [icon]="'pi pi-search'"
                          class="p-button-text p-button-rounded mr-2"
                          (click)="onClickSelectedFile(ri)">
                        </button>
                        {{modelo.trgtPath}}
                      </div>
                    </td>

                    <td class="p-fluid">
                      {{modelo.fileName}}
                    </td>
                    <td class="p-fluid">
                      {{modelo.date | date: 'dd/MM/yyyy'}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td [attr.colspan]="columns.length + 1">{{globalConstants.currentTableEmptyMessage}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>

      <div class="col-12 md:col-8">
        <div class="card no-margin">
          <form [formGroup]="modeloFormSal">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-salesPersons">Empleado de ventas </label>
                <p-dropdown id="float-input-salesPersons" [class.field-mandatory]="!(isLocked || isAuthorized)" [class.readonly-control]="isLocked || isAuthorized" [readonly]="isLocked || isAuthorized" [attr.tabindex]="(isLocked || isAuthorized) ? -1 : 0" [options]="salesPersonsList" [filter]="true" placeholder="Seleccione empleado de ventas" formControlName="salesPersons" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                <div *ngIf="modeloFormSal.controls['salesPersons'].errors && modeloFormSal.controls['salesPersons'].dirty">
                  <p-message severity="error" text="Empleado de ventas es requerido." *ngIf="modeloFormSal.controls['salesPersons'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-u_NroOrden">N° OV </label>
                <div class="p-inputgroup">
                  <input id="float-input-u_NroOrden" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Número de orden de venta" maxlength="20" size="50" formControlName="u_NroOrden" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-u_OrdenCompra">N° OC </label>
                <div class="p-inputgroup">
                  <input id="float-input-u_OrdenCompra" type="text" placeholder="Número de orden de compra" maxlength="15" size="50" formControlName="u_OrdenCompra" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-comments">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea id="float-input-comments" placeholder="Comentarios" maxlength="254" rows="6" formControlName="comments" autocomplete="off" pInputTextarea></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12 md:col-4">
        <div class="card no-margin">
          <form [formGroup]="modeloFormTot">
            <div class="p-fluid p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-subTotal">SubTotal </label>
                <div class="p-inputgroup">
                  <input id="float-input-subTotal" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="SubTotal" maxlength="20" size="50" formControlName="subTotal" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-5">
                <label class="label-custom" for="float-input-discPrcnt">% Dto. </label>
                <div class="p-inputgroup">
                  <input id="float-input-discPrcnt" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="% Descuento" maxlength="20" size="50" formControlName="discPrcnt" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormTot, 'discPrcnt', 2, false)" (blur)="utilService.formatNumericFormControl(modeloFormTot, 'discPrcnt', 2, true)">
                </div>
              </div>
              <div class="col-12 md:col-7">
                <label class="label-custom" for="float-input-discSum">Descuento </label>
                <div class="p-inputgroup">
                  <input id="float-input-discSum" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" type="text" placeholder="Descuento" maxlength="20" size="50" formControlName="discSum" autocomplete="off" pInputText (input)="utilService.onNumericInput(modeloFormTot, 'discSum', 2, false)" (blur)="utilService.formatNumericFormControl(modeloFormTot, 'discSum', 2, true)">
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-vatSum">Impuesto </label>
                <div class="p-inputgroup">
                  <input id="float-input-vatSum" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Impuesto" maxlength="20" size="50" formControlName="vatSum" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docTotal">Total </label>
                <div class="p-inputgroup">
                  <input id="float-input-docTotal" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Total" maxlength="20" size="50" formControlName="docTotal" autocomplete="off" pInputText>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="!hasRealChanges || !modeloFormSoc.valid || !modeloFormDoc.valid || !modeloFormFin.valid || !modeloFormSal.valid || !hasValidLines || !hasValidLinesAttachments" label="{{globalConstants.cActualizar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonBack}}"></button>
        </div>
        <div class="col-12 md:col-2 md:col-offset-6">
          <p-splitButton [disabled]='isLocked || isInvoice' label="Copiar a" icon="pi pi-copy" [model]="splitButtonItemsCopyTo" styleClass="{{globalConstants.cStyleButtonPrimary}}"></p-splitButton>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog header="Modelo de impresión" [(visible)]="isVisualizarPrintModal" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <p-panel header="Seleccione el modelo de impresión" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloFormMod">
      <div class="grid p-fluid">
        <div class="col-12 md:col-12">
          <label class="label-custom" for="float-input-printModelTypes">Modelo </label>
          <p-dropdown
            id="float-input-printModelTypes"
            [options]="printModelTypesList"
            placeholder="Seleccione el modelo"
            formControlName="printModelTypes"
            appendTo="body"
            [baseZIndex]="10000"
            [autoZIndex]="true"
            [required]
            optionLabel="label">
          </p-dropdown>
          <div *ngIf="modeloFormMod.controls['printModelTypes'].errors && modeloFormMod.controls['printModelTypes'].dirty">
            <p-message severity="error" text="El modelo es requerido." *ngIf="modeloFormMod.controls['printModelTypes'].errors['required']"></p-message>
          </div>
        </div>
      </div>
    </form>
  </p-panel>
  <ng-template pTemplate="footer">
    <p-button [disabled]="!modeloFormMod.valid" label="{{globalConstants.cImprimir}}" icon="{{globalConstants.icoImpExcel}}" styleClass="p-button-success" (onClick)="onClickPrint()"></p-button>
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickModelPrintClose()"></p-button>
  </ng-template>
</p-dialog>


<p-dialog *ngIf="isVisualizarArticulo" header="Artículo" [(visible)]="isVisualizarArticulo" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true">
  <app-busqueda-articulo [sellItem]="'Y'" (eventoAceptar)="onClickSelectedArticulo($event)"></app-busqueda-articulo>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseArticulo()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarCuentaContable" header="Cuentas" [(visible)]="isVisualizarCuentaContable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-cuenta-contable (eventoAceptar)="onClickSelectedCuentaContable($event)"></app-busqueda-cuenta-contable>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseCuentaContable()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarAlmacen" header="Almacén" [(visible)]="isVisualizarAlmacen" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-almacen-by-articulo [itemCode]="itemCode" [inactive]="inactiveAlmacenItem" (eventoAceptar)="onClickSelectedAlmacen($event)"></app-busqueda-almacen-by-articulo>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseAlmacen()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="isVisualizarImpuesto" header="Impuesto" [(visible)]="isVisualizarImpuesto" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true">
  <app-busqueda-impuesto  (eventoAceptar)="onClickSelectedImpuesto($event)"></app-busqueda-impuesto>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseImpuesto()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Seleccionar el archivo" *ngIf="isDisplayUpload" [(visible)]="isDisplayUpload" [modal]="true" [closable]="true" [autoZIndex] [style]="{width: '35vw'}">
  <div>
    <app-modal-subir-archivo [fileType]="''" (eventoAceptar)="onClickUpload($event)"></app-modal-subir-archivo>
    <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger"></p-button>
  </ng-template>
  </div>
</p-dialog>

<p-dialog *ngIf="isDisplayVisor" header="ORDEN DE VENTA" [(visible)]="isDisplayVisor" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
    </div>
  </div>
</p-dialog>


<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
<app-panel-guardar [isDisplay]="isSaving"></app-panel-guardar>
<app-panel-generando-visor-pdf [isDisplay] = "isDisplayGenerandoVisor"></app-panel-generando-visor-pdf>
