/* CABECERA */
:host ::ng-deep .p-datatable-thead > tr > th
{
  display: block !important;
  text-align: center !important;
  white-space: nowrap;
}

/* CUERPO */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(16),  /* Stock */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(17),  /* Pendiente */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(18),  /* Solicitado */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(19),  /* Disponible */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(20),  /* Cantidad */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(21),  /* Rol Pedido */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(22),  /* Kg Pedido */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(23),  /* Tn Pedida */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(24),  /* Cantidad Pendiente Por Despachar */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(25),  /* Rol Pendiente */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(26),  /* Kg Pendiente */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(27),  /* Tn Pendiente */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(28),  /* Cantidad Despachada */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(29),  /* Precio */
:host ::ng-deep .p-datatable-tbody > tr > td:nth-child(30)  /* Importe USD */
{
  display: block !important;
  text-align: right !important;
  white-space: nowrap;
}
