<div class="card card-w-title">
  <p-panel header="Crer {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12">
        <form [formGroup]="modeloForm">
          <div class="p-fluid">
            <div class="grid">
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-cardCode">Código</label>
                <div class="p-inputgroup">
                  <input id="float-input-cardCode" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Código" maxlength="15" size="15" formControlName="cardCode" autocomplete="off" required pInputText>
                </div>
              </div>
              <div class="col-12 md:col-2">
                <label class="label-custom" for="float-input-cardType">&nbsp; </label>
                <p-dropdown id="float-input-cardType" class="field-mandatory" [options]="cardTypeList" formControlName="cardType" [required] optionLabel="label" [showClear]="false" [filter]="true"></p-dropdown>
              </div>
            </div>

            <div class="grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-cardName">Nombre o razón social </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" class="field-mandatory" placeholder="Nombre o razón social" maxlength="100" size="100" formControlName="cardName" autocomplete="off" required pInputText>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-personType">Tipo de persona </label>
                <p-dropdown id="float-input-personType" class="field-mandatory" [options]="personTypeList" formControlName="personType" [required] optionLabel="label" [showClear]="false" [filter]="true"></p-dropdown>
              </div>
            </div>

            <div class="grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-groups">Grupo </label>
                <p-dropdown id="float-input-groups" class="field-mandatory" [options]="groupsList" formControlName="groups" [required] optionLabel="label" [showClear]="false" [filter]="true"></p-dropdown>
              </div>

              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-identityDocumentType">Tipo de documento </label>
                <p-dropdown id="float-input-identityDocumentType" class="field-mandatory" [options]="identityDocumentTypeList" placeholder="Seleccione el tipo de documento" formControlName="identityDocumentType" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
              </div>
            </div>

            <div class="grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-currencyCodes">Moneda </label>
                <p-dropdown id="float-input-currencyCodes" class="field-mandatory" [options]="currencyCodesList" formControlName="currencyCodes" [required] optionLabel="label" [showClear]="false" [filter]="true"></p-dropdown>
              </div>

              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-divisions">División </label>
                <p-dropdown id="float-input-divisions" class="field-mandatory" [options]="divisionsList" formControlName="divisions" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
              </div>
            </div>

            <div class="grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-licTradNum">RUC </label>
                <div class="p-inputgroup">
                  <input id="float-input-licTradNum" type="text" class="field-mandatory" placeholder="Número de documento" maxlength="20" formControlName="licTradNum" required pInputText>
                </div>
              </div>

              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-sectors">Sector </label>
                <p-dropdown id="float-input-sectors" class="field-mandatory" [options]="sectorsList" formControlName="sectors" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12 mt-3 p-0">
        <p-tabView>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-circle-fill"></i>
              <span>&nbsp;General&nbsp;</span>
            </ng-template>
            <form [formGroup]="modeloForm">
              <div class="p-fluid">
                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-phone1">Teléfono 1</label>
                    <div class="p-inputgroup">
                      <input id="float-input-phone1" type="text" placeholder="Número de telefono 1" maxlength="20" formControlName="phone1" pInputText>
                    </div>
                  </div>

                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-salesPersons">Vendedor </label>
                    <p-dropdown id="float-input-salesPersons" class="field-mandatory" [options]="salesPersonsList" formControlName="salesPersons" placeholder="Seleccione Vendedor" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-phone2">Teléfono 2</label>
                    <div class="p-inputgroup">
                      <input id="float-input-phone2" type="text" placeholder="Número de telefono 2" maxlength="20" formControlName="phone2" pInputText>
                    </div>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-cellular">Teléfono móvil </label>
                    <div class="p-inputgroup">
                      <input id="float-input-cellular" type="text" class="field-mandatory" placeholder="Teléfono móvil" maxlength="20" formControlName="cellular" required pInputText>
                    </div>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-email">Email </label>
                    <div class="p-inputgroup">
                      <input id="float-input-email" type="email" placeholder="Email" formControlName="email" autocomplete="off" pInputText>
                    </div>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-4">
                    <label class="label-custom">Estado</label>
                    <div class="flex align-items-center mt-2">
                      <p-inputSwitch formControlName="validFor" trueValue="Y" falseValue="N"></p-inputSwitch>
                      <span class="ml-2">{{ validForLabel }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-12">
                  <label class="label-custom" for="float-input-notes">Notas </label>
                  <div class="p-inputgroup">
                    <textarea id="float-input-notes" pInputTextarea formControlName="notes" placeholder="Notas adicionales" [rows]="3"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </p-tabPanel>


          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-circle-fill"></i>
              <span>&nbsp;Personas de contacto&nbsp;</span>
            </ng-template>
            <div class="col-12 md:col-12">
              <p-table
                [value]="modeloContactEmployeesLines"
                [columns]="columnsContactEmployees"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                selectionMode="single"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                [(selection)]="modeloContactEmployeesLinesSelected"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="custom-header">
                      <button
                        pButton
                        type="button"
                        [icon]="'pi pi-plus'"
                        class="p-button-text p-button-rounded mr-2"
                        (click)="onClickAddContact()">
                      </button>
                    </th>
                    <th *ngFor="let col of columnsContactEmployees" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
                  <tr [pSelectableRow]="modelo" [ngClass]="{ 'custom-td-default': modelo.default === 'X' }">
                    <td class="custom-td-8">
                      <p-splitButton icon="pi pi-cog" [model]="opcionesContactEmployees" (onDropdownClick)="onSelectContacto(modelo)" appendTo="body"></p-splitButton>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.name" maxlength="50" required pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.name}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.firstName" maxlength="50" required pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.firstName}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.lastName" maxlength="50" required pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.lastName}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="email" [(ngModel)]="modelo.e_MailL" maxlength="100" pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.e_MailL}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr><td colspan="5">{{globalConstants.currentTableEmptyMessage}}</td></tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-12 md:col-12 flex justify-content-end">
              <div class="col-12 md:col-2 p-0">
                <button
                  pButton
                  type="button"
                  label="{{globalConstants.cFijarComoStandar}}"
                  icon="{{globalConstants.icoFijarComoStandar}}"
                  (click)="onClickSetStandardContact()">
                </button>
              </div>
            </div>
          </p-tabPanel>


          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-circle-fill"></i>
              <span>&nbsp;Direcciones&nbsp;</span>
            </ng-template>
            <div class="col-12 md:col-12">
              <p-table
                [value]="modeloAddressLines"
                [columns]="columnsAddress"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                selectionMode="single"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                [(selection)]="modeloAddressLinesSelected"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="custom-header">
                      <button pButton type="button" [icon]="'pi pi-plus'" class="p-button-text p-button-rounded mr-2" (click)="onClickAddAddress()">
                      </button>
                    </th>
                    <th *ngFor="let col of columnsAddress" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
                  <tr [pSelectableRow]="modelo" [ngClass]="{ 'custom-td-default': modelo.default === 'X' }">
                    <td class="custom-td-8">
                      <p-splitButton icon="pi pi-cog" [model]="opcionesAddress" (onDropdownClick)="onSelectAddress(modelo)" appendTo="body"></p-splitButton>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.address" maxlength="50" required pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.address}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="addressTypeList" [(ngModel)]="modelo.adresType" optionLabel="label" optionValue="value" appendTo="body" [style]="{'width': '100%'}" appendTo="body"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ utilService.getSelectItemLabel(addressTypeList, modelo.adresType) }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="countryList" [(ngModel)]="modelo.country" (onChange)="onCountryChange(modelo)" optionLabel="label" optionValue="value" appendTo="body" [filter]="true" [style]="{ width: '100%' }"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ utilService.getSelectItemLabel(countryList, modelo.country) }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="custom-td-10">
                      <div class="custom-td-flex">
                        <button
                          *ngIf="isShipToAddress(modelo)"
                          pButton
                          type="button"
                          [icon]="'pi pi-search'"
                          class="p-button-text p-button-rounded mr-2"
                          (click)="onClickOpenUbigeo(ri)">
                        </button>
                        {{modelo.glblLocNum}}
                      </div>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="stateList" [(ngModel)]="modelo.state" optionLabel="label" optionValue="value" appendTo="body" [filter]="true" [style]="{ width: '100%' }"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ utilService.getSelectItemLabel(stateList, modelo.state) }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.county" maxlength="100" pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.county}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.city" maxlength="100" pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.city}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="modelo.street" maxlength="100" pInputText>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{modelo.street}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td class="p-fluid" pEditableColumn>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <p-dropdown
                            *ngIf="isShipToAddress(modelo)"
                            [options]="taxGroupsList"
                            [(ngModel)]="modelo.taxCode"
                            appendTo="body"
                            [filter]="true"
                            optionLabel="label"
                            optionValue="value"
                            [style]="{ width: '100%' }">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ isShipToAddress(modelo) ? modelo.taxCode : '' }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr><td colspan="10">{{globalConstants.currentTableEmptyMessage}}</td></tr>
                </ng-template>
              </p-table>
            </div>
            <div class="col-12 md:col-12 flex justify-content-end">
              <div class="col-12 md:col-2 p-0">
                <button
                  pButton
                  type="button"
                  label="{{globalConstants.cFijarComoStandar}}"
                  icon="{{globalConstants.icoFijarComoStandar}}"
                  (click)="onClickSetStandardAddress()">
                </button>
              </div>
            </div>
          </p-tabPanel>


          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-circle-fill"></i>
              <span>&nbsp;Condiciones de pago&nbsp;</span>
            </ng-template>
            <form [formGroup]="modeloForm">
              <div class="p-fluid">
                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-paymentTermsTypes">Condición de pago </label>
                    <p-dropdown id="float-input-paymentTermsTypes" class="field-mandatory" [options]="paymentTermsTypesList" formControlName="paymentTermsTypes" placeholder="Seleccione Condición" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-priceList">Lista de precios </label>
                    <p-dropdown id="float-input-priceList" class="field-mandatory" [options]="priceListsList" formControlName="priceList" placeholder="Seleccione precio lista" [required] optionLabel="label" [showClear]="true" [filter]="true"></p-dropdown>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-creditLine">Límite de crédito </label>
                    <div class="p-inputgroup">
                      <input id="float-input-creditLine" type="text" class="field-numero label-bold" placeholder="Límite de crédito" maxlength="15" size="50" formControlName="creditLine" autocomplete="off" pInputText (input)="this.utilService.onNumericInput(modeloForm, 'creditLine', 2, false)" (blur)="utilService.formatNumericFormControl(modeloForm, 'creditLine', 2, true)">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </p-tabPanel>


          <p-tabPanel>
            <ng-template pTemplate="header">
              <i class="pi pi-circle-fill"></i>
              <span>&nbsp;Otros&nbsp;</span>
            </ng-template>
            <form [formGroup]="modeloForm">
              <div class="p-fluid">
                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-carrier">Acreedor transportista </label>
                    <p-dropdown id="float-input-carrier" class="field-mandatory" [options]="carrierList" formControlName="carrier" [required] optionLabel="label" [showClear]="false"></p-dropdown>
                  </div>

                  <div class="col-12 md:col-6" *ngIf="isNaturalPerson">
                    <label class="label-custom" for="float-input-u_BPP_BPNO">Nombre </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_BPP_BPNO" type="text" placeholder="Nombre" formControlName="u_BPP_BPNO" pInputText>
                    </div>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-u_FIB_Email2">Email 2 </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_Email2" type="email" placeholder="Email 2" pInputText formControlName="u_FIB_Email2" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-12 md:col-6" *ngIf="isNaturalPerson">
                    <label class="label-custom" for="float-input-u_BPP_BPAP">Apellido Paterno </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_BPP_BPAP" type="text" placeholder="Apellido Paterno" formControlName="u_BPP_BPAP" pInputText>
                    </div>
                  </div>
                </div>

                <div class="grid">
                  <div class="col-12 md:col-6">
                    <label class="label-custom" for="float-input-u_FIB_Email3">Email 3 </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_FIB_Email3" type="email" placeholder="Email 3" pInputText formControlName="u_FIB_Email3" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-12 md:col-6" *ngIf="isNaturalPerson">
                    <label class="label-custom" for="float-input-u_BPP_BPAM">Apellido Materno </label>
                    <div class="p-inputgroup">
                      <input id="float-input-u_BPP_BPAM" type="text" placeholder="Apellido Materno" formControlName="u_BPP_BPAM" pInputText>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="!modeloForm.valid" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()" class="{{globalConstants.cStyleButtonBack}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog *ngIf="isVisualizarUbigeo" header="Ubigeo" [(visible)]="isVisualizarUbigeo" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true">
  <app-busqueda-ubigeo  (eventoAceptar)="onClickSelectedUbigeo($event)"></app-busqueda-ubigeo>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseUbigeo()"></p-button>
  </ng-template>
</p-dialog>

<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
<app-panel-guardar [isDisplay]="isSaving"></app-panel-guardar>
