<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <p-panel header="{{subTitulo}}" [style] = "{'margin-bottom':'20px'}" [toggleable]="true">

      <!-- Grilla de pedidos -->
      <div class="col-12 md:col-12">
        <p-table
          [value]="modelo"
          [columns]="columnas"
          [rows]="10"
          dataKey="order"
          [rowHover]="true"
          [paginator]="true"
          [autoLayout]="true"
          selectionMode="single"
          groupRowsBy="order"
          rowGroupMode="subheader"
          [resizableColumns]="true"
          responsiveLayout="scroll"
          [showCurrentPageReport]="true"
          styleClass="{{globalConstants.cStyleTableGridLines}}"
          currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
          <!-- Header -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <!-- Group Header -->
          <ng-template pTemplate = "groupheader" let-modelo let-ri = "rowIndex" let-expanded="expanded">
            <tr (click)="onRowGroupHeaderClick()">
              <td class="custom-td-20">
                <div class="td-flex">
                  <button
                    type="button"
                    pButton
                    pRipple
                    [pRowToggler]="modelo"
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                  </button>

                  <span *ngIf="modelo?.objType === '17'">Pedido de cliente</span>
                  <span *ngIf="modelo?.objType === '23'">Oferta de venta</span>
                </div>
              </td>
              <td class="custom-td-10">
                <div class="td-flex" *ngIf="modelo.isDraft === 'N'">
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="'pi pi-arrow-right'"
                    (click)="onClickGoTo(modelo, false)">
                  </button>
                  {{modelo.docNum}}
                </div>
              </td>
              <td class="custom-td-10">
                <div class="td-flex" *ngIf="modelo.isDraft === 'Y'">
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="'pi pi-arrow-right'"
                    (click)="onClickGoTo(modelo, true)">
                  </button>
                  {{modelo.docNum}}
                </div>
              </td>
              <td class="p-fluid">
                {{modelo.authorName}}
              </td>
              <td class="p-fluid">
              </td>
              <td class="custom-td-20">
                <span class="label" [ngClass]="getEstado(modelo?.documentStatus)?.class">
                  {{ getEstado(modelo?.documentStatus)?.text }}
                </span>
              </td>
              <td class="p-fluid">
              </td>
              <td class="custom-td-15">
                {{modelo.createDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="custom-td-15">
                {{modelo.createTimeString}}
              </td>
              <td class="custom-td-15">
                {{modelo.docDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="p-fluid">
                {{modelo.cardCode}}
              </td>
              <td class="p-fluid">
                {{modelo.cardName}}
              </td>
            </tr>
          </ng-template>
          <!-- Row Expanded -->
          <ng-template pTemplate = "rowexpansion" let-modelo let-ri = "rowIndex" let-expanded="expanded">
            <tr *ngFor="let line of modelo.lines" (click)="onRowExpansionClick(line)">
              <td class="custom-td-20">
                <div class="align-right">
                  <span *ngIf="line?.objType === '17'">Pedido de cliente</span>
                  <span *ngIf="line?.objType === '23'">Oferta de venta</span>
                </div>
              </td>
              <td class="custom-td-10">
                <div class="td-flex" *ngIf="line.isDraft === 'N'">
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="'pi pi-arrow-right'"
                    (click)="onClickGoTo(line, false)">
                  </button>
                  {{line.docNum}}
                </div>
              </td>
              <td class="custom-td-10">
                <div class="td-flex" *ngIf="line.isDraft === 'Y'">
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="'pi pi-arrow-right'"
                    (click)="onClickGoTo(line, true)">
                  </button>
                  {{line.docNum}}
                </div>
              </td>
              <td class="p-fluid">
                {{line.authorName}}
              </td>
              <td class="p-fluid">
                {{line.modelName}}
              </td>
              <td class="custom-td-20">
                <span class="label" [ngClass]="getEstado(line?.approverStatus)?.class">
                  {{ getEstado(line?.approverStatus)?.text }}
                </span>
              </td>
              <td class="p-fluid">
                {{line.remarks}}
              </td>
              <td class="custom-td-15">
                {{line.createDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="custom-td-15">
                {{line.createTimeString}}
              </td>
              <td class="custom-td-15">
              </td>
              <td class="p-fluid">
              </td>
              <td class="p-fluid">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">{{globalConstants.currentTableEmptyMessage}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Grilla de autorizaciones     -->
      <div class="col-12 md:col-12" *ngIf="modeloAuthorizer?.length > 0">
        <p-table
          [value]="modeloAuthorizer"
          [columns]="columnasAuthorizer"
          [rows]="10"
          [rowHover]="true"
          [autoLayout]="true"
          selectionMode="single"
          [resizableColumns]="true"
          responsiveLayout="scroll"
          styleClass="{{globalConstants.cStyleTableGridLines}}">
          <!-- Header -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
                <p-sortIcon field="{{col.field}}"></p-sortIcon>
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <!-- body -->
          <ng-template pTemplate = "body" let-modelo let-ri = "rowIndex">
            <tr [pSelectableRow]="modelo" [ngClass]="{'row-cerrado': modelo?.docStatus === 'C'}">
              <td class="p-fluid">
                {{modelo.stapaName}}
              </td>
              <td class="p-fluid">
                {{modelo.authorizerName}}
              </td>
              <td class="custom-td-20">
                <span class="label" [ngClass]="getEstadoLine(modelo?.status)?.class">
                  {{ getEstadoLine(modelo?.status)?.text }}
                </span>
              </td>
              <td class="custom-td-10">
                {{modelo.updateDate | date: 'dd/MM/yyyy'}}
              </td>
              <td class="custom-td-10">
                {{modelo.updateTimeString}}
              </td>
              <td class="p-fluid">
                {{modelo.remarks}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">{{globalConstants.currentTableEmptyMessage}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonBack}}"></button>
          </div>
          <div class="col-12 md:col-2">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>
</div>

<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay] = "isDisplay"></app-panel-obtener>
