<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{titulo}}" [style] = "{'margin-bottom':'20px'}" [toggleable]="true">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="startDate" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="endDate" placeholder="Seleccionar fecha final" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-4">
            <p-multiSelect [options]="docStatusList" formControlName="docStatus" defaultLabel="Seleccione el estado" selectedItemsLabel="{0} regitros seleccionados"></p-multiSelect>
          </div>
          <div class="col-12 md:col-4">
            <input id="float-input-searchText" type="text" placeholder="Buscar por número" maxlength="100" size="50" formControlName="searchText" autocomplete="off" pInputText (keyup.enter)="onClickBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickBuscar()"></button>
        </div>
        <div class="col-12 md:col-4">
          <button [disabled]="buttonAcces.btnNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onClickCreate()"></button>
        </div>
        <div class="col-12 md:col-4">
          <app-btn-salir [isMargenTop]="false"></app-btn-salir>
        </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{titulo}}" [toggleable]="true">
      <p-table
      [value]="modelo"
      [columns]="columnas"
      [rows]="rows"
      [rowHover]="true"
      [paginator]="true"
      [autoLayout]="true"
      selectionMode="single"
      [resizableColumns]="true"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="rowsPerPageOptions"
      styleClass="{{globalConstants.cStyleTableGridLines}}"
      currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="custom-header"></th>
          <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate = "body" let-modelo let-ri = "rowIndex">
        <tr [pSelectableRow]="modelo" [ngClass]="{'row-cerrado': modelo?.docStatus === 'C'}">
          <td class="custom-td-8">
            <p-splitButton icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onToItemSelected(modelo)" appendTo = "body">
            </p-splitButton>
          </td>
          <td class="p-fluid">
            {{modelo.docNum}}
          </td>
          <td class="custom-td-20">
            <span class="label" [ngClass]="getEstado(modelo).class">
              {{ getEstado(modelo).text }}
            </span>
          </td>
          <td class="p-fluid">
            {{modelo?.u_BPP_MDSD}}-{{modelo?.u_BPP_MDCD}}
          </td>
          <td class="p-fluid">
            {{modelo.docDate | date: 'dd/MM/yyyy'}}
          </td>
          <td class="p-fluid">
            {{modelo.docDueDate | date: 'dd/MM/yyyy'}}
          </td>
          <td class="p-fluid">
            {{modelo.taxDate | date: 'dd/MM/yyyy'}}
          </td>
          <td class="custom-td-20">
            <span class="label" [ngClass]="getGroupType(modelo).class">
              {{ getGroupType(modelo).text }}
            </span>
          </td>
          <td class="p-fluid">
            {{modelo.cardCode}}
          </td>
          <td class="p-fluid">
            {{modelo.cardName}}
          </td>
          <td class="p-fluid">
            {{modelo.slpName}}
          </td>
          <td class="p-fluid">
            {{modelo.docCur}}
          </td>
          <td class="custom-td-numero">
            {{modelo.docTotal | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.docTotalSy | number: '.2':'en-EN'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 1">{{globalConstants.currentTableEmptyMessage}}</td>
        </tr>
      </ng-template>
    </p-table>
    </p-panel>
</div>


<p-dialog *ngIf="isDisplayVisor" header="ORDEN DE VENTA" [(visible)]="isDisplayVisor" [modal]="true" [style]="{width: '80vw'}" [autoZIndex] [maximizable]="true">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <app-modal-visor-pdf [isFile]="isDataBlob"></app-modal-visor-pdf>
    </div>
  </div>
</p-dialog>

<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay] = "isDisplay"></app-panel-obtener>
<app-panel-cancelar [isCancel] = "isCancel" ></app-panel-cancelar>
<app-panel-generando-visor-pdf [isDisplay] = "isDisplayGenerandoVisor"></app-panel-generando-visor-pdf>
