<div class="card card-w-title">
  <p-panel header="Ver {{ titulo }}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormReq">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-reqType">Solicitante </label>
                <p-dropdown id="float-input-reqType" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="reqTypesList" [filter]="true" placeholder="Seleccione el solicitante" formControlName="reqType" [required] optionLabel="label"></p-dropdown>
              </div>
              <div class="col-12 md:col-8">
                <label class="label-custom" for="float-input-reqName">Nombre de solicitante </label>
                <p-dropdown id="float-input-reqName"  [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="requesterList" [filter]="true" placeholder="Seleccione el nombre de solicitante" formControlName="reqName" [required] optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-branch">Sucursal </label>
                <p-dropdown id="float-input-branch" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="branchesList" [filter]="true" placeholder="Seleccione el sucursal" formControlName="branch" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-department">Departamento </label>
                <p-dropdown id="float-input-department" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="departmentsList" [filter]="true" placeholder="Seleccione el departamento" formControlName="department" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-12">
                <label #notifyLabel class="label-custom" for="float-input-notify">Enviar email si se agregó pedido o entrada mercancías </label>
                <div class="p-inputgroup">
                  <p-checkbox id="float-input-notify" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [ngStyle]="{'padding-top': paddingTop}" [binary]="true" formControlName="notify"></p-checkbox>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-email">Email </label>
                <div class="p-inputgroup">
                  <input id="float-input-email" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Email" maxlength="100" size="50" formControlName="email" autocomplete="off" pInputText>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormDoc">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-docNum">Número </label>
                <div class="p-inputgroup">
                  <input id="float-input-docNum" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Número" maxlength="50" size="50" formControlName="docNum" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-docStatus">Estado </label>
                <div class="p-inputgroup">
                  <input id="float-input-docStatus" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Estado" maxlength="50" size="50" formControlName="docStatus" autocomplete="off" pInputText>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDate">Fecha de contabilización </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha de contabilización" formControlName="docDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDueDate">Fecha de vencimiento </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDueDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha de vencimiento" formControlName="docDueDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-taxDate">Fecha de documento </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-taxDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha de documento" formControlName="taxDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-reqDate">Fecha necesaria </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-reqDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha necesaria" formControlName="reqDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormCon">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docType">Clase de artículo/servicio </label>
                <p-dropdown id="float-input-docType" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="docTypesList" placeholder="Seleccione la clase de artículo/servicio" formControlName="docType" [required] optionLabel="label"></p-dropdown>
              </div>
              <div class="col-12 md:col-10"></div>
            </div>
          </form>

          <!-- Grilla de Datos     -->
          <p-table
            [value]="modeloLines"
            [columns]="columnas"
            editMode="row"
            [rowHover]="true"
            [autoLayout]="true"
            [resizableColumns]="true"
            responsiveLayout="scroll"
            [showCurrentPageReport]="true"
            styleClass="{{globalConstants.cStyleTableGridLines}}"
            currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
            <!-- Header -->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="custom-header"></th>
                <th *ngFor="let col of columns" class="custom-header">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <!-- body -->
            <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
              <tr [pContextMenuRow]="modelo" [ngClass]="{'row-cerrado': modelo?.lineStatus === 'C'}">
                <td class="custom-td-8">
                  <p-splitButton [disabled]="true" icon="pi pi-cog">
                  </p-splitButton>
                </td>
                <td class="p-fluid" *ngIf="isItem">
                  {{modelo.itemCode}}
                </td>
                <td class="p-fluid">
                  {{modelo.dscription}}
                </td>
                <td class="p-fluid">
                  {{modelo.lineVendor}}
                </td>
                <td class="custom-td-12">
                  {{modelo.pqtReqDate | date: 'dd/MM/yyyy'}}
                </td>
                <td class="p-fluid">
                  {{modelo.formatCode}}
                </td>
                <td class="p-fluid">
                  {{modelo.acctName}}
                </td>
                <td class="custom-td-16">
                  {{modelo.ocrCode}}
                </td>
                <td class="p-fluid" *ngIf="isItem">
                  {{modelo.whsCode}}
                </td>
                <td class="p-fluid">
                  {{modelo?.u_tipoOpT12Nam}}
                </td>
                <td class="p-fluid">
                  {{modelo?.u_FF_TIP_COM_NAM}}
                </td>
                <td class="custom-td-8" *ngIf="isItem">
                  {{modelo.unitMsr}}
                </td>
                <td class="custom-td-numero" *ngIf="isItem">
                  {{modelo.onHand | number: '.3':'en-EN'}}
                </td>
                <td class="custom-td-numero" *ngIf="isItem">
                  {{modelo.quantity | number: '.3':'en-EN'}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="isItem ? 14 : 9">{{globalConstants.currentTableEmptyMessage}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormPie">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-employeeInfo">Propietario </label>
                <p-dropdown id="float-input-employeeInfo" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="employeesInfoList" [filter]="true" placeholder="Seleccione el propietario" formControlName="employeeInfo" [required] optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-8">
                <label class="label-custom" for="float-input-comments">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" formControlName="comments" autocomplete="off" placeholder="Comentarios" maxlength="254" rows="5" pInputText></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="true" label="{{globalConstants.cActualizar}}" icon="{{globalConstants.icoGrabar}}"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonBack}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
