<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-2">
            <p-calendar formControlName="startDate" placeholder="Seleccionar fecha inicial" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-calendar formControlName="endDate" placeholder="Seleccionar fecha final" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-2">
            <p-multiSelect [options]="salesEmployeesList" [(ngModel)]="salesEmployeeSelected" formControlName="msSalesEmployee" defaultLabel="Seleccione el Vendedor" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-3">
            <input id="float-input-customer" type="text" placeholder="Buscar por código o nombre de cliente" maxlength="100" size="50" formControlName="customer" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
          <div class="col-12 md:col-3">
            <input id="float-input-item" type="text" placeholder="Buscar por código o nombre de artículo" maxlength="100" size="50" formControlName="item" autocomplete="off" pInputText (keyup.enter)="onToBuscar()">
          </div>
        </div>
      </form>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onToBuscar()"></button>
          </div>
          <div class="col-12 md:col-4">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-4">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </p-footer>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}">
      <p-table
        [value]="modelo"
        [columns]="columnas"
        [rows]="rows"
        [rowHover]="true"
        [paginator]="true"
        [autoLayout]="true"
        selectionMode="single"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="rowsPerPageOptions"
        styleClass="{{globalConstants.cStyleTableGridLines}}"
        currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}"
      >
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate="body" let-modelo>
        <tr class="p-selectable-row">
          <td class="p-fluid">
            {{modelo.cardCode}}
          </td>
          <td class="p-fluid">
            {{modelo.cardName}}
          </td>
          <td class="p-fluid">
            {{modelo.tipoDocumento}}
          </td>
          <td class="p-fluid">
            {{modelo.fecContabilizacion | date: 'dd/MM/yyyy'}}
          </td>
          <td class="p-fluid">
            {{modelo.numeroDocumento}}
          </td>
          <td class="p-fluid">
            {{modelo.numeroGuia}}
          </td>
          <td class="p-fluid">
            {{modelo.numeroPedido}}
          </td>
          <td class="p-fluid">
            {{modelo.fechaPedido | date: 'dd/MM/yyyy'}}
          </td>
          <td class="p-fluid">
            {{modelo.nomVendedor}}
          </td>
          <td class="p-fluid">
            {{modelo.itemCode}}
          </td>
          <td class="p-fluid">
            {{modelo.itemName}}
          </td>
          <td class="p-fluid">
            {{modelo.nomGrupo}}
          </td>
          <td class="p-fluid">
            {{modelo.unidadMedida}}
          </td>
          <td class="custom-td-numero">
            {{modelo.cantidad | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.pesoItem | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.pesoPromedioKg | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.peso | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.rolloVendido | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.kgVendido | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.toneladaVendida | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.codMoneda}}
          </td>
          <td class="custom-td-numero">
            {{modelo.tipoCambio | number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.precio | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.precioKg | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.costoSOL| number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.costoUSD| number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.totalCostoItemSOL | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.totalCostoItemUSD | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.totalItemSOL | number: '.2':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.totalItemUSD | number: '.2':'en-EN'}}
          </td>
        </tr>
      </ng-template>
      <!-- emptymessage -->
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">{{globalConstants.currentTableEmptyMessage}}</td>
        </tr>
      </ng-template>
      </p-table>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
