<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{titulo}}" [style] = "{'margin-bottom':'20px'}" [toggleable]="true">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-3">
            <p-calendar formControlName="rangeDates" placeholder="Seleccionar rango de fechas" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true" selectionMode="range" [readonlyInput]="true"></p-calendar>
          </div>
          <div class="col-12 md:col-3">
            <p-multiSelect id="float-input-usuario" [options]="usuarioList" formControlName="usuario" [filter]="true" optionLabel="label" optionValue="value" defaultLabel="Seleccione usuario(es)" selectedItemsLabel="{0} regitros seleccionados" [showClear]="true" class="p dropdown-item-text"></p-multiSelect>
            <div *ngIf="modeloForm.controls['usuario'].errors && modeloForm.controls['usuario'].dirty">
              <p-message severity="error" text="Usuario es requerido." *ngIf="modeloForm.controls['usuario'].errors['required']"></p-message>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <p-multiSelect id="float-input-warehouse" [options]="warehouseList" formControlName="warehouse" [filter]="true" optionLabel="label" optionValue="value" defaultLabel="Seleccione almacén(es)" selectedItemsLabel="{0} almacenes seleccionados" [showClear]="true" class="p dropdown-item-text"></p-multiSelect>
            <div *ngIf="modeloForm.controls['warehouse'].errors && modeloForm.controls['warehouse'].dirty">
              <p-message severity="error" text="Almacén es requerido." *ngIf="modeloForm.controls['warehouse'].errors['required']"></p-message>
            </div>
          </div>
          <div class="col-12 md:col-3">
            <input id="float-input-item" type="text" placeholder="Buscar el artículo" maxlength="100" size="50" formControlName="item" autocomplete="off" pInputText (keyup.enter)="onClickSearch()">
          </div>
          <div class="col-12 md:col-3">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickSearch()"></button>
          </div>
          <div class="col-12 md:col-3">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExpExcel}}" (click)="onClickExcel()"></button>
          </div>
          <div class="col-12 md:col-3">
            <button [disabled]="buttonAcces.btnNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onClickCreate()"></button>
          </div>
          <div class="col-12 md:col-3">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </form>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{titulo}}" [toggleable]="true">
      <p-table
        [value]="modeloList"
        [columns]="columnas"
        editMode="row"
        dataKey="docEntry"
        [rowHover]="true"
        [paginator]="true"
        [autoLayout]="true"
        [resizableColumns]="true"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        [rows]="globalConstants.sizePage"
        styleClass="{{globalConstants.cStyleTableGridLines}}"
        currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="{{col.field}}" *ngFor = "let col of columns" class = "custom-header">
              <p-sortIcon field="{{col.field}}"></p-sortIcon>
              {{col.header}}
            </th>
            <th colspan="2" class="custom-header">Acciones</th>
          </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="modelo">
            <td>
              <span class="p-column-title">Código: </span> {{modelo.u_ItemCode}}
            </td>
            <td>
              <span class="p-column-title">Descripcion: </span> {{modelo.u_Dscription}}
            </td>
            <td>
              <span class="p-column-title">Almacén: </span> {{modelo.u_WhsCode}}
            </td>
            <td>
              <span class="p-column-title">UM: </span> {{modelo.u_UnitMsr}}
            </td>
            <td class="custom-td-numero">
              <span class="p-column-title">Físico: </span>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input id="onHandPhy" class="custom-td-numero" type="text" autocomplete="off" [(ngModel)]="modelo.u_OnHandPhy" maxlength="19" (ngModelChange)="onChangeQuantity(modelo,ri)" pInputText (keypress)="this.utilService.aceptaSoloNumeros($event,modelo.u_OnHandPhy)">
                </ng-template>
                <ng-template pTemplate="output">
                  {{modelo.u_OnHandPhy | number: '.3':'en-EN'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td class="custom-td-numero">
              <span class="p-column-title">Sistema: </span> {{modelo.u_OnHandSys | number: '.3':'en-EN'}}
            </td>
            <td class="custom-td-numero">
              <span class="p-column-title">Diferencia: </span> {{modelo.u_Difference | number: '.3':'en-EN'}}
            </td>
            <td [ngClass]="editing ? 'custom-td-9' : 'custom-td-2'">
              <button [disabled]="buttonAcces.btnEditar" *ngIf="!editing" pButton type="button" pInitEditableRow icon="{{globalConstants.icoEditar}}" (click)="onRowEditInit(modelo)"></button>
              <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="{{globalConstants.icoGrabar}}" class="{{globalConstants.cStyleButtonSuccess}}" (click)="onRowEditSave(modelo)"></button>
              <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="{{globalConstants.icoCancelar}}" class="{{globalConstants.cStyleButtonDanger}}" style="margin-left: .5em" (click)="onRowEditCancel(modelo, ri)"></button>
            </td>
            <td class="custom-td-2">
              <button [disabled]="buttonAcces.btnEliminar" pButton icon="{{globalConstants.icoEliminar}}" class="{{globalConstants.cStyleButtonDanger}}" (click)="onRowSelectDelete(modelo)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length + 2">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-footer>
        <div class="grid p-fluid">
          <div class="col-12 md:col-3">
            <button [disabled]="buttonAcces.btnNuevo" pButton type="button" label="{{globalConstants.cNuevo}}" icon="{{globalConstants.icoNuevo}}" (click)="onClickCreate()"></button>
          </div>
        </div>
      </p-footer>
    </p-panel>
</div>

<p-toast position="top-right"></p-toast>

<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
