<div class="card card-w-title">
    <h1><strong>{{titulo}}</strong></h1>

    <!-- Filtros -->
    <p-panel header="Opción de busqueda de {{subtitulo}}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <form [formGroup]="modeloForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-3">
            <p-multiSelect [options]="sectorList" formControlName="sector" defaultLabel="Seleccione el Sector" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-3">
            <p-multiSelect [options]="statusList" formControlName="status" defaultLabel="Seleccione el Estado" selectedItemsLabel="{0} regitros seleccionadas"></p-multiSelect>
          </div>
          <div class="col-12 md:col-2">
            <button [disabled]="buttonAcces.btnBuscar || !modeloForm.valid" pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickSearch()"></button>
          </div>
          <div class="col-12 md:col-2">
            <button [disabled]="buttonAcces.btnEXCEL || !modeloForm.valid" pButton type="button" label="{{globalConstants.cEXCEL}}" icon="{{globalConstants.icoExcel}}" (click)="onToExcel()"></button>
          </div>
          <div class="col-12 md:col-2">
            <app-btn-salir [isMargenTop]="false"></app-btn-salir>
          </div>
        </div>
      </form>
    </p-panel>

    <!-- Grilla de Datos     -->
    <p-panel header="Lista de {{subtitulo}}" [toggleable]="true">
      <p-table
      [value]="list"
      [columns]="columnas"
      [rows]="rows"
      [rowHover]="true"
      [paginator]="true"
      [autoLayout]="true"
      selectionMode="single"
      [resizableColumns]="true"
      responsiveLayout="scroll"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="rowsPerPageOptions"
      styleClass="{{globalConstants.cStyleTableGridLines}}"
      currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-end">
            <input pInputText type="text" class="w-20rem" placeholder="Buscar por código o nombre" [(ngModel)]="filtroTexto" (input)="onFiltroTexto(filtroTexto)"/>
          </div>
        </ng-template>
        <!-- Header -->
        <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
        </tr>
        </ng-template>
        <!-- body -->
        <ng-template pTemplate="body" let-modelo>
          <tr class="ui-selectable-row">
            <td class="custom-td-5">{{modelo.cardCode}}</td>
            <td class="custom-td-5">{{modelo.licTradNum}}</td>
            <td class="custom-td-5">{{modelo.docType}}</td>
            <td class="p-fluid">{{modelo.cardName}}</td>
            <td class="p-fluid">{{modelo.unidadNegocio}}</td>
            <td class="custom-td-numero">{{modelo.creditLine | number: '.2':'en-EN'}}</td>
            <td class="custom-td-4">
              <span class="p-column-title">Estado</span>
              <span class="label" style="background:green" *ngIf="modelo.codStatus == 'Y'">{{modelo.nomStatus}}</span>
              <span class="label" style="background:red"   *ngIf="modelo.codStatus == 'N'">{{modelo.nomStatus}}</span>
            </td>
            <td class="p-fluid">{{modelo.slpName}}</td>
            <td class="p-fluid">{{modelo.nomSector}}</td>
            <td class="custom-td-6">{{modelo.createDate | date: 'dd/MM/yyyy'}}</td>
            <td class="custom-td-7">{{modelo.fechaUltimaVenta | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </ng-template>
        <!-- emptymessage -->
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">{{globalConstants.currentTableEmptyMessage}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
</div>


<p-dialog header="Procesando" [(visible)]="isDisplay" [closable]="false" [modal]="true" [style]="{width: '50vw'}" [autoZIndex] [draggable]="false" [resizable]="false">
  Obteniendo Información...!!!
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>
</p-dialog>
