<div class="card card-w-title">
  <p-panel header="Registro de {{titulo}}">
    <div class="grid p-fluid">
      <div class="col-12">
        <form [formGroup]="modeloForm">
          <div class="p-formgrid grid">
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-apepat">Apellido paterno </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="float-input-apepat" type="text" placeholder="Apellido paterno" maxlength="50" size="50" formControlName="apellidoPaterno" autocomplete="off" required pInputText>
              </div>
              <div *ngIf="modeloForm.controls['apellidoPaterno'].errors && modeloForm.controls['apellidoPaterno'].dirty">
                <p-message severity="error" text="Apellido paterno es requerido" *ngIf="modeloForm.controls['apellidoPaterno'].errors['required']"></p-message>
                <p-message severity="error" text="Tener un min. de 2 y max. de 50 caractares" *ngIf="modeloForm.controls['apellidoPaterno'].errors['minlength'] || modeloForm.controls['apellidoPaterno'].errors['maxlength'] "></p-message>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-apemat">Apellido materno </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="float-input-apemat" type="text" placeholder="Apellido materno" maxlength="50" size="50" formControlName="apellidoMaterno" autocomplete="off" required pInputText>
              </div>
              <div *ngIf="modeloForm.controls['apellidoMaterno'].errors && modeloForm.controls['apellidoMaterno'].dirty">
                <p-message severity="error" text="Apellido materno es requerido" *ngIf="modeloForm.controls['apellidoMaterno'].errors['required']"></p-message>
                <p-message severity="error" text="Tener un min. de 2 y max. de 50 caractares" *ngIf="modeloForm.controls['apellidoMaterno'].errors['minlength'] || modeloForm.controls['apellidoMaterno'].errors['maxlength'] "></p-message>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-nombre">Nombres </label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input id="float-input-nombre" type="text" placeholder="Nombres" maxlength="50" size="50" formControlName="nombre" autocomplete="off" required pInputText>
              </div>
              <div *ngIf="modeloForm.controls['nombre'].errors && modeloForm.controls['nombre'].dirty">
                <p-message severity="error" text="Nombre es requerido" *ngIf="modeloForm.controls['nombre'].errors['required']"></p-message>
                <p-message severity="error" text="Tener un min. de 2 y max. de 50 caractares" *ngIf="modeloForm.controls['nombre'].errors['minlength'] || modeloForm.controls['nombre'].errors['maxlength'] "></p-message>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-location">Localización </label>
              <p-dropdown id="float-input-location" class="field-mandatory" [options]="locationList" placeholder="Seleccione la localización" formControlName="location" optionLabel="label" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-superUser">Super usuario </label>
              <div class="p-inputgroup">
                <p-checkbox id="float-input-superUser" [ngStyle]="{'padding-top': '5px'}" [binary]="true" formControlName="superUser"></p-checkbox>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <label class="label-custom" for="float-input-blocked">Bloqueado </label>
              <div class="p-inputgroup">
                <p-checkbox id="float-input-blocked" [ngStyle]="{'padding-top': '5px'}" [binary]="true" formControlName="blocked"></p-checkbox>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <p-table
          [value]="modeloLines"
          [columns]="columnas"
          editMode="row"
          [rowHover]="true"
          [autoLayout]="true"
          [resizableColumns]="true"
          responsiveLayout="scroll"
          [showCurrentPageReport]="true"
          styleClass="{{globalConstants.cStyleTableGridLines}}"
          currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
          <!-- Header -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="custom-header"></th>
              <th *ngFor="let col of columns" class="custom-header">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <!-- body -->
          <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
            <tr [pContextMenuRow]="modelo">
              <td class="custom-td-8">
                <p-splitButton icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onSelectedItem(modelo)" appendTo = "body">
                </p-splitButton>
              </td>
              <td class="p-fluid" pEditableColumn>
                <p-cellEditor>
                  <!-- MODO EDICIÓN -->
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="objectTypeList" optionLabel="label" optionValue="value" [(ngModel)]="modelo.objectType" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                  </ng-template>
                  <!-- MODO VISUAL -->
                  <ng-template pTemplate="output">
                    {{ getObjectTypeLabel(modelo.objectType) }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="p-fluid" pEditableColumn>
                <p-cellEditor>
                  <!-- MODO EDICIÓN -->
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="warehouseList" optionLabel="label" optionValue="value" [(ngModel)]="modelo.whsCode" appendTo="body" [style]="{'width':'100%'}" [filter]="true"></p-dropdown>
                  </ng-template>
                  <!-- MODO VISUAL -->
                  <ng-template pTemplate="output">
                    {{ modelo.whsCode }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="p-fluid" pEditableColumn>
                <p-cellEditor>
                  <!-- MODO EDICIÓN -->
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="warehouseList" optionLabel="label" optionValue="value" [(ngModel)]="modelo.toWhsCode" appendTo="body" [style]="{'width':'100%'}" [filter]="true"></p-dropdown>
                  </ng-template>
                  <!-- MODO VISUAL -->
                  <ng-template pTemplate="output">
                    {{ modelo.toWhsCode }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="custom-td-checkbox" pEditableColumn>
                <span class="p-column-title">Bloqueado</span>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <span class="p-float-label">
                      <p-checkbox [(ngModel)]="modelo.blocked" [binary]="true"></p-checkbox>
                    </span>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p-checkbox [(ngModel)]="modelo.blocked" [binary]="true" [disabled]="true"></p-checkbox>
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length + 1">{{globalConstants.currentTableEmptyMessage}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="!modeloForm.valid" label="{{globalConstants.cGrabar}}" icon="{{globalConstants.icoGrabar}}" (click)="onClickSave()"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="back()" class="{{globalConstants.cStyleButtonDanger}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay] = "isDisplay"></app-panel-obtener>
