<div class="card card-w-title">
  <p-panel header="Ver {{ titulo }}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormSn">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardCode">Código de cliente </label>
                <app-modal-socio-negocio [class.readonly-control]="true" [attr.tabindex]="-1" [isHabilitarButton]="true" [title]="'Socios de Negocios'" [cardCode]="cardCode" [cardType] = "'C,S'" [transType] = "'N,Y'"></app-modal-socio-negocio>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-cardName">Razón social o nombre </label>
                <div class="p-inputgroup">
                  <input id="float-input-cardName" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Razón social o nombre" maxlength="100" size="50" formControlName="cardName" autocomplete="off" pInputText [readOnly]="true">
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-persona-contacto">Persona de contacto </label>
                <app-modal-persona-contacto [class.readonly-control]="true" [attr.tabindex]="-1" [isHabilitarButton]="true" [cardCode]="cardCode" [cntctCode]="cntctCode"></app-modal-persona-contacto>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-address">Dirección de destino </label>
                <div class="p-inputgroup">
                  <textarea id="float-area-address" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" formControlName="address" autocomplete="off" placeholder="Dirección de destino" maxlength="254" rows="5" pInputText [readOnly]="true"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card no-margin">
          <form [formGroup]="modeloFormDoc">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docNum">Número</label>
                <div class="p-inputgroup">
                  <input id="float-input-docNum" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Número" maxlength="50" size="50" formControlName="docNum" autocomplete="off" pInputText [readOnly]="true">
                </div>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-u_BPP_MDTD">Tipo </label>
                <p-dropdown id="float-input-u_BPP_MDTD" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="documentTypeSunatList" [filter]="true" placeholder="Seleccione el tipo" formControlName="u_BPP_MDTD" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-u_BPP_MDSD">Serie </label>
                <app-modal-serie-documento [class.readonly-control]="true" [attr.tabindex]="-1" [isHabilitarButton]="true" [idUsuario]="idUsuario" [u_BPP_NDTD]="u_BPP_NDTD" [u_BPP_NDSD]="u_BPP_NDSD" [u_Delivery]="''" [u_SalesInvoices]="''" [u_Transfer]="'Y'"></app-modal-serie-documento>
              </div>
              <div class="col-12 md:col-4">
                <label class="label-custom" for="float-input-u_BPP_MDCD">Número</label>
                <div class="p-inputgroup">
                  <input id="float-input-numero-u_BPP_MDCD" type="text" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Número documento" maxlength="100" size="50" formControlName="u_BPP_MDCD" autocomplete="off" pInputText [readOnly]="true">
                </div>
              </div>

              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-docDate">Fecha de contabilización </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-docDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha de contabilización" formControlName="docDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['docDate'].errors && modeloFormDoc.controls['docDate'].dirty">
                  <p-message severity="error" text="Fecha de contabilización es requerida." *ngIf="modeloFormDoc.controls['docDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-12">
                <label class="label-custom" for="float-input-taxDate">Fecha de traslado </label>
                <div class="p-inputgroup">
                  <p-calendar id="float-calendar-taxDate" [class.readonly-control]="true" [attr.tabindex]="-1" placeholder="Fecha de traslado" formControlName="taxDate" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                </div>
                <div *ngIf="modeloFormDoc.controls['taxDate'].errors && modeloFormDoc.controls['taxDate'].dirty">
                  <p-message severity="error" text="Fecha de traslado es requerida." *ngIf="modeloFormDoc.controls['taxDate'].errors['required']"></p-message>
                </div>
              </div>
              <div class="col-12 md:col-5">
                <label class="label-custom" for="float-input-filler">De almacén </label>
                <p-dropdown id="float-input-filler" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="warehouseList" [filter]="true" placeholder="Seleccione el almacén" formControlName="filler" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-7">
                <label class="label-custom" for="float-input-toWhsCode">Almacén destino </label>
                <p-dropdown id="float-input-toWhsCode" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="warehouseList" [filter]="true" placeholder="Seleccione el almacén" formControlName="toWhsCode" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="col-12">
        <div class="card no-margin">
          <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Contenido&nbsp;</span>
              </ng-template>
              <p-table
                [value]="modeloLines"
                [columns]="columnas"
                dataKey="lineNum"
                editMode="row"
                [rowHover]="true"
                [autoLayout]="true"
                [resizableColumns]="true"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                styleClass="{{globalConstants.cStyleTableGridLines}}"
                currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
                <!-- Header -->
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="custom-header"></th>
                    <th *ngFor="let col of columns" class="custom-header">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <!-- body -->
                <ng-template pTemplate="body" let-modelo let-ri="rowIndex">
                  <tr [ngClass]="{'row-cerrado': modelo?.lineStatus === '01'}">
                    <td class="custom-td-8">
                      <p-splitButton [disabled]="(modelo?.u_FIB_FromPkg ?? 'N') === 'N'" icon="pi pi-cog" [model] = "opciones" (onDropdownClick) = "onSelectedItem(modelo)" appendTo = "body">
                      </p-splitButton>
                    </td>
                    <td class="p-fluid">
                      {{modelo.itemCode}}
                    </td>
                    <td class="p-fluid">
                        {{modelo.dscription}}
                    </td>
                    <td class="p-fluid">
                      {{modelo.fromWhsCod}}
                    </td>
                    <td class="p-fluid">
                      {{modelo.whsCode}}
                    </td>
                    <td class="p-fluid">
                      {{modelo.u_tipoOpT12Nam}}
                    </td>
                    <td class="custom-td-3">
                      {{modelo.unitMsr}}
                    </td>
                    <td class="custom-td-numero">
                      {{modelo.u_FIB_NBulto | number: '.2':'en-EN'}}
                    </td>
                    <td class="custom-td-numero">
                      {{modelo.u_FIB_PesoKg | number: '.2':'en-EN'}}
                    </td>
                    <td class="custom-td-numero">
                      {{modelo.quantity | number: '.3':'en-EN'}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8">{{globalConstants.currentTableEmptyMessage}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Transportista&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormTra">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12">
                    <p-fieldset legend="Datos de transportista">
                      <div class="p-fluid p-formgrid grid">
                        <div class="col-12 md:col-12">
                          <label class="label-custom" for="float-input-typeTransport">Tipo de transporte </label>
                          <p-dropdown id="float-input-typeTransport" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="typeTransportList" placeholder="Seleccione el tipo de transporte" formControlName="typeTransport" optionLabel="label" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="col-12 md:col-3">
                          <label class="label-custom" for="float-input-u_FIB_COD_TRA">Código </label>
                          <app-modal-socio-negocio [class.readonly-control]="true" [attr.tabindex]="-1" [title]="'Transportistas'" [cardCode]="u_FIB_COD_TRA" [cardType] = "'C,S'" [transType] = "'Y'"></app-modal-socio-negocio>
                        </div>
                        <div class="col-12 md:col-3">
                          <label class="label-custom" for="float-input-typeCarrierIdentityDocument">Tipo de documento </label>
                          <p-dropdown id="float-input-typeCarrierIdentityDocument" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="typeCarrierIdentityDocumentList" placeholder="Seleccione el tipo de documento" formControlName="typeCarrierIdentityDocument" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                        </div>
                        <div class="col-12 md:col-3">
                          <label class="label-custom" for="float-input-u_BPP_MDRT">RUC </label>
                          <div class="p-inputgroup">
                            <input id="float-input-u_BPP_MDRT" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="RUC" maxlength="15" size="50" formControlName="u_BPP_MDRT" autocomplete="off" pInputText readonly>
                          </div>
                        </div>
                        <div class="col-12 md:col-3">
                          <label class="label-custom" for="float-input-u_BPP_MDNT">Razón social </label>
                          <div class="p-inputgroup">
                            <input id="float-input-u_BPP_MDNT" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Razón social" maxlength="100" size="50" formControlName="u_BPP_MDNT" autocomplete="off" pInputText readonly>
                          </div>
                        </div>
                        <div class="col-12 md:col-12">
                          <label class="label-custom" for="float-input-u_BPP_MDVC">Placa </label>
                          <app-modal-vehiculo [class.readonly-control]="true" [attr.tabindex]="-1" [u_FIB_COTR]="u_FIB_COD_TRA" [u_BPP_VEPL]="u_BPP_MDVC"></app-modal-vehiculo>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                  <div class="col-12">
                    <p-fieldset legend="Datos del conductor">
                      <div class="p-fluid p-formgrid grid">
                          <div class="col-12 md:col-6">
                            <label class="label-custom" for="float-input-typeDriversIdentityDocument">Tipo de documento </label>
                            <p-dropdown id="float-input-typeDriversIdentityDocument" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="typeDriversIdentityDocumentList" placeholder="Seleccione el tipo de documento" formControlName="typeDriversIdentityDocument" optionLabel="label" [showClear]="true"></p-dropdown>
                          </div>
                          <div class="col-12 md:col-6">
                            <label class="label-custom" for="float-input-u_FIB_NUMDOC_COD">Número de documento </label>
                            <app-modal-conductor [class.readonly-control]="true" [attr.tabindex]="-1" [u_FIB_COTR]="u_FIB_COD_TRA" [u_FIB_CHND]="u_FIB_NUMDOC_COD"></app-modal-conductor>
                          </div>
                          <div class="col-12 md:col-4">
                            <label class="label-custom" for="float-input-u_FIB_NOM_COND">Nombre </label>
                            <div class="p-inputgroup">
                              <input id="float-input-u_FIB_NOM_COND" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Nombre" maxlength="100" size="50" formControlName="u_FIB_NOM_COND" autocomplete="off" pInputText readonly>
                            </div>
                          </div>
                          <div class="col-12 md:col-4">
                            <label class="label-custom" for="float-input-u_FIB_APE_COND">Apellidos </label>
                            <div class="p-inputgroup">
                              <input id="float-input-u_FIB_APE_COND" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Apellidos" maxlength="100" size="50" formControlName="u_FIB_APE_COND" autocomplete="off" pInputText readonly>
                            </div>
                          </div>
                          <div class="col-12 md:col-4">
                            <label class="label-custom" for="float-input-u_BPP_MDFN">Nombre completo </label>
                            <div class="p-inputgroup">
                              <input id="float-input-u_BPP_MDFN" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Nombre completo" maxlength="50" size="50" formControlName="u_BPP_MDFN" autocomplete="off" pInputText readonly>
                            </div>
                          </div>
                          <div class="col-12 md:col-12">
                            <label class="label-custom" for="float-input-u_BPP_MDFC">Licencia </label>
                            <div class="p-inputgroup">
                              <input id="float-input-u_BPP_MDFC" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" type="text" placeholder="Número de licencia" maxlength="15" size="50" formControlName="u_BPP_MDFC" autocomplete="off" pInputText readonly>
                            </div>
                          </div>
                        </div>
                    </p-fieldset>
                  </div>
                </div>
              </form>
            </p-tabPanel>

            <p-tabPanel>
              <ng-template pTemplate = "header">
                <i class="pi pi-circle-fill"></i>
                <span>&nbsp;Otros&nbsp;</span>
              </ng-template>
              <form [formGroup]="modeloFormOtr">
                <div class="p-fluid p-formgrid grid">
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-transferType">Tipo de traslado </label>
                    <p-dropdown id="float-input-transferType"[class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1"  [options]="transferTypeList" [filter]="true" placeholder="Seleccione el tipo de traslado" formControlName="transferType" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="modeloFormOtr.controls['transferType'].errors && modeloFormOtr.controls['transferType'].dirty">
                      <p-message severity="error" text="Tipo de traslado es requerido." *ngIf="modeloFormOtr.controls['transferType'].errors['required']"></p-message>
                    </div>
                  </div>
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-reasonTransfer">Motivo de traslado </label>
                    <p-dropdown id="float-input-reasonTransfer" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="reasonTransferList" [filter]="true" placeholder="Seleccione el motivo de traslado" formControlName="reasonTransfer" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="modeloFormOtr.controls['reasonTransfer'].errors && modeloFormOtr.controls['reasonTransfer'].dirty">
                      <p-message severity="error" text="Motivo de traslado es requerido." *ngIf="modeloFormOtr.controls['reasonTransfer'].errors['required']"></p-message>
                    </div>
                  </div>
                  <div class="col-12 md:col-4">
                    <label class="label-custom" for="float-input-outputType">Tipo de salida </label>
                    <p-dropdown id="float-input-outputType" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="outputTypeList" [filter]="true" placeholder="Seleccione el tipo de salida" formControlName="outputType" [required] optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="modeloFormOtr.controls['outputType'].errors && modeloFormOtr.controls['outputType'].dirty">
                      <p-message severity="error" text="Tipo de salida es requerido." *ngIf="modeloFormOtr.controls['outputType'].errors['required']"></p-message>
                    </div>
                  </div>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>

        </div>
      </div>

      <div class="col-12">
        <div class="card no-margin">
          <form [formGroup]="modeloFormPie">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-slpCode">Empleado de ventas </label>
                <p-dropdown id="float-input-slpCode" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" [options]="salesEmployeesList" [filter]="true" placeholder="Seleccione el empleado de ventas" formControlName="slpCode" optionLabel="label" [showClear]="true"></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-u_FIB_NBULTOS">N° bultos </label>
                <div class="p-inputgroup">
                  <input id="float-input-u_FIB_NBULTOS" type="text" class="field-numero label-bold" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="N° bultos" maxlength="20" size="50" formControlName="u_FIB_NBULTOS" autocomplete="off" pInputText (input)="this.utilService.onNumericInput1(modeloFormPie, 'u_FIB_NBULTOS', 3, false)" (blur)="utilService.formatNumericFormControl1(modeloFormPie, 'u_FIB_NBULTOS', 3, true)">
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label class="label-custom" for="float-input-u_FIB_KG">Total kilos </label>
                <div class="p-inputgroup">
                  <input id="float-input-u_FIB_KG" type="text" class="field-numero" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" placeholder="Total kilos" maxlength="20" size="50" formControlName="u_FIB_KG" autocomplete="off" pInputText (input)="this.utilService.onNumericInput1(modeloFormPie, 'u_FIB_KG', 3, false)" (blur)="utilService.formatNumericFormControl1(modeloFormPie, 'u_FIB_KG', 3, true)">
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-jrnlMemo">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea formControlName="jrnlMemo" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" autocomplete="off" placeholder="Comentarios" maxlength="50" rows="2" pInputText></textarea>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label class="label-custom" for="float-input-comments">Comentarios </label>
                <div class="p-inputgroup">
                  <textarea formControlName="comments" [class.readonly-control]="true" [readonly]="true" [attr.tabindex]="-1" autocomplete="off" placeholder="Comentarios" maxlength="254" rows="2" pInputText></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton type="submit" [disabled]="true" label="{{globalConstants.cActualizar}}" icon="{{globalConstants.icoGrabar}}"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton type="button" label="{{globalConstants.cRegresar}}" icon="{{globalConstants.icoRegresar}}" (click)="onClickBack()" class="{{globalConstants.cStyleButtonBack}}"></button>
        </div>
      </div>
    </p-footer>
  </p-panel>
</div>


<p-dialog header="Código de barra" [(visible)]="isVisualizarCodebar" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" (onHide)="onHideModal()">
  <p-panel id="modal" header="Opciones de búsqueda" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <form [formGroup]="modeloFormBar">
      <div class="grid p-fluid">
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input id="float-input-text1" type="text" placeholder="Buscar por código de barra" maxlength="100" size="50" formControlName="u_CodeBar" autocomplete="off" pInputText (keyup.enter)="onClickBuscarModal()">
          </div>
        </div>
        <div class="col-12 md:col-6">
          <button pButton type="button" label="{{globalConstants.cBuscar}}" icon="{{globalConstants.icoBuscar}}" (click)="onClickBuscarModal()"></button>
        </div>
      </div>
    </form>
  </p-panel>
  <p-panel header="Lista de códigos de barras" [toggleable]="true">
    <p-table
    [value]="bardcodeList"
    [columns]="columnasModal"
    [rowHover]="true"
    [autoLayout]="true"
    [responsive]="true"
    selectionMode="single"
    [showCurrentPageReport]="true"
    styleClass="{{globalConstants.cStyleTableGridLines}}"
    currentPageReportTemplate="{{globalConstants.currentPageReportTemplate}}">
      <!-- Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="{{col.field}}" *ngFor="let col of columns" class="custom-header">
            <p-sortIcon field="{{col.field}}"></p-sortIcon>
            {{col.header}}
          </th>
          <th class="custom-header"></th>
        </tr>
      </ng-template>
      <!-- body -->
      <ng-template pTemplate="body" let-modelo let-editing="editing">
        <tr [pSelectableRow]="modelo" class="row-cerrado">
          <td class="p-fluid">
            {{modelo.u_ItemCode}}
          </td>
          <td class="p-fluid">
            {{modelo.u_CodeBar}}
          </td>
          <td class="custom-td-10">
            {{ modelo?.u_UnitMsr | uppercase }}
          </td>
          <td class="custom-td-numero">
            {{modelo.u_WeightKg | number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-numero">
            {{modelo.u_Quantity | number: '.3':'en-EN'}}
          </td>
          <td class="custom-td-5">
            <button pButton [disabled]="true" icon="{{globalConstants.icoEliminar}}" class="{{globalConstants.cStyleButtonDanger}}"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
  <ng-template pTemplate="footer">
    <p-button label="{{globalConstants.cCerrar}}" icon="{{globalConstants.icoCerrar}}" styleClass="p-button-danger" (onClick)="onClickCloseModal()"></p-button>
  </ng-template>
</p-dialog>


<!-- MODAL: Proceso -->
<app-panel-obtener [isDisplay]="isDisplay"></app-panel-obtener>
